
#wrapper {
	width:100%;
	padding-top:0px;
}
.img-wrap{
	 position:relative;
}
.img-wrap img{
	 width:100%;
	 height:auto;
	 vertical-align:bottom;
}

/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/
.d-carousel2 ul li {
	
	list-style:none;

	margin-left:0px;
	float:left;
	
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel2 h4 {
	margin: 5px 0 5px 0;
}

.d-carousel2 .jcarousel-container {
	display: block;
	/*overflow: hidden;
	margin-bottom: 0px;*/
}

.d-carousel2 .jcarousel-item,.d-carousel2 ul li  {
	width:387px;
	/*height:97px;*/
}

.d-carousel2 .jcarousel-container-horizontal {
	width:100%;
	/*height:97px;*/
	padding:0px;
	padding-left:0px;
}

.d-carousel2 .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-bottom:0px;
	margin-top:0px;
	
}

.d-carousel2 .jcarousel-next-horizontal {
	position: absolute;
top:50%;
	margin-top:-15px;
	right:0;
	margin-right:-82px !important;
	width:30px;
	height:30px;
	cursor: pointer;
	background:url(../images/a_right2b.png) no-repeat;
	
}

.d-carousel2 .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image:url(../images/a_right2b.png);
}

.d-carousel2 .jcarousel-next-horizontal:hover {
	background-image:url(../images/a_rightb.png);
}

.d-carousel2 .jcarousel-prev-horizontal {
	position: absolute;
top:50%;
	margin-top:-15px;
	left:0;
	margin-left:-82px !important;
	width:30px;
	height:30px;
	cursor: pointer;
	background: url(../images/a_left2b.png) no-repeat;
	
	}
.d-carousel2 .jcarousel-prev-horizontal:hover{background: url(../images/a_leftb.png) no-repeat;
}

.d-carousel2 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../images/a_left2b.png);
}

/*.d-carousel2 .jcarousel-prev-horizontal:hover {
	background-position: bottom left;
}*/
.border_03{ border:1px solid #d3c0aa;
}
 @media (max-width: 1024px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li{width:300px; }
.d-carousel2 .jcarousel-next-horizontal {margin-right:-45px !important;}
.d-carousel2 .jcarousel-prev-horizontal {margin-left:-45px !important;}
		 
 }
@media only screen and (max-width: 900px) {
.d-carousel2 .jcarousel-item,  .d-carousel2 ul li {width:258px;}
}

 @media (max-width:768px) {
.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:322px;}
 }
 @media (max-width:720px) {.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:298px;}
}
@media (max-width:700px) {
.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:283px;}

}

 @media (max-width:690px) {
#wrapper .d-carousel2 ul li,.d-carousel2 .jcarousel-item {}		
}
 @media (max-width:650px) {
.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:263px;}	
}
 @media (max-width:600px) {
.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:238px;}	
}


 @media (max-width:580px) {
.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:228px;}	
 }

 @media (max-width:560px) {
.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:436px;}	
 }
 @media screen and (max-width: 500px) {
.d-carousel2 .jcarousel-item, #wrapper .d-carousel2 ul li {width:376px;}
 
}


 @media screen and (max-width: 480px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:356px;}
 

}
 @media screen and (max-width: 414px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:290px;}

}

 @media screen and (max-width: 400px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:266px;}

}
@media screen and (max-width:380px){
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width: 250px;}
    

}
 @media screen and (max-width: 320px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:196px;}
	 
}