

/* --- Headings --- */
.accordion header {
	margin-bottom: 0px;
	margin-bottom:10px;
	
}
.accordion h4, .accordion h5 {

}
.accordion h3, .main h3 {
	padding-left: 0;
	background: transparent none
}
/* --- Accordion --- */
/*#menu ul {
	margin: 0;
	padding: 0
}*/
.js .accordion {
	visibility: hidden
}
.accordion {
}
.accordion .new{ margin-bottom:0px;
} 
.accordion li {
	
}
.accordion .outer {
}
.accordion .inner {
	padding:0px;
	padding:29px;
	padding-bottom:42px;
	line-height:22px;
	padding-top:24px;
	background:#FFF;
	text-align:justify;


	
}

.accordion .inner p{ display:block;
}
.accordion .inner p + p{ margin-top:23px;
}
.accordion .inner .inner {
	padding-bottom: 0
}
a.trigger {
	display: block;
	padding-top:13px;
	padding-bottom:10px;
	padding-left:19px;
	padding-right:54px;
	background:#eaeaea url(../../public/images/tab-plus.png) right 14.5px no-repeat;
	border:1px solid #eaeaea;
	color:#303030;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	
	
}
a.trigger.open {
	background:#bf0000 url(../images/tab-minus.png) right 13px no-repeat;
	border:1px solid #bf0000;

}

/* --- Misc --- */

.show_no {
	margin: 0px;
	width: 20px;
	float: left;
	font-size: 14px;
	color: #fff;
	height: 39px;
	line-height: 39px;
	font-weight: bold;
	margin-left: 8px;
	text-align: center;
	margin-right: 8px;
}
.menue_show {
	margin: 0px;
	width: 60px;
	float: right;
	font-size: 10px;
	color: #193663;
	height: 41px;
	line-height: 41px;
	font-weight: normal;
}
/***********************Modi*******/

.menue_title { color:#303030;
font-size:16px;
display:block;
padding-left:0px;
font-family: 'latosemibold';
text-transform:uppercase;
text-align:left;

}
a.trigger .menue_title{color:#5a5a5a;
line-height:16px;
}

a.trigger.open .menue_title{color:#FFF;

}

a.trigger .menue_title strong{color:#252525;
font-weight:bold;
font-size:13px;
}
.accordion header .tab_count{ display:inline-block;
float:left;
font-size:13px;
color:#252525;
font-weight:bold;
}




a.trigger:after{
	content: "";
	clear: both;
	display: block;

}

