

/* --- Headings --- */
.accordion header {
	margin-bottom: 0px;
	margin-bottom:0px;
	
}
.accordion h4, .accordion h5 {

}
.accordion h3, .main h3 {
	padding-left: 0;
	background: transparent none
}
/* --- Accordion --- */
/*#menu ul {
	margin: 0;
	padding: 0
}*/
.js .accordion {
	visibility: hidden
}
.accordion {
}
.accordion .new{ padding-bottom:12px;

} 
.accordion .new +  .new{
	
	 
}
.accordion li {
	
}
.accordion .outer {
}
.accordion .inner {
	padding:18px;




	
}

.accordion .inner article p{ display:block;
}
.accordion .inner article p + p{ margin-top:24px;
}
.accordion .inner .inner {
	padding-bottom: 0
}
a.trigger {
	display: block;
	padding-top:10px;
	padding-bottom:9px;
	padding-left:18px;
	padding-right:54px;
	background:#f05764 url(../images/tab-plus2.png) right 12.5px no-repeat;
	color:#FFF;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
a.trigger.open {
	background:#1c116b url(../images/tab-minus2.png) right 12.5px no-repeat;

}

/* --- Misc --- */

.show_no {
	margin: 0px;
	width: 20px;
	float: left;
	font-size: 14px;
	color: #fff;
	height: 39px;
	line-height: 39px;
	font-weight: bold;
	margin-left: 8px;
	text-align: center;
	margin-right: 8px;
}
.menue_show {
	margin: 0px;
	width: 60px;
	float: right;
	font-size: 10px;
	color: #193663;
	height: 41px;
	line-height: 41px;
	font-weight: normal;
}
/***********************Modi*******/

.menue_title { color:#1c116b;
font-size:18px;
display:block;
padding-left:0px;
font-family: 'latobold';
text-align:left;

}
a.trigger .menue_title{color:#FFF;
line-height:18px;
}

a.trigger.open .menue_title{color:#FFF;

}

a.trigger .menue_title strong{color:#1c116b;
font-weight:bold;
font-size:13px;
}
.accordion header .tab_count{ display:inline-block;
float:left;
font-size:13px;
color:#252525;
font-weight:bold;
}




a.trigger:after{
	content: "";
	clear: both;
	display: block;

}

