@charset "utf-8";
/* CSS Document */
body{ margin:0px;
padding:0px;
}
.pointelle_slider_fouc .pointelle_slider {
	display: none;
}
.pointelle_slider h4, .pointelle_slider div, .pointelle_slider a {
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
	border: none;
	line-height: 18px;
	text-decoration: none;
	text-shadow: none
}
.pointelle_slider p {
	margin: 0px !important;
}
.pointelle_slider {
	position: relative;
	
	z-index: 1;
}
.pointelle_slides {
	/*position: absolute;*/
	z-index: 1;
	left: 0px;
	 top:0px;
	 width:258px !important;
	 background:#bfb2ac;
	 float:left !important;
	 
	  
}
div.pointelle-slider-control {
	z-index: 4;
	width:888px;
	float:right;
	 border:1px solid #d9d9d9;
	 border-bottom:0px;
	 border-right:0px;

}
div.pointelle-slider-nav {
	float: left;
	cursor: pointer;
	position:relative;
	font-size:18px;
	text-align:center;
	width:25%;
	 border-right:1px solid #d9d9d9;
border-bottom:1px solid #d9d9d9;
background: #FFF;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
div.pointelle-slider-nav img{
	 width:100%;
	 height:auto;
	 vertical-align:bottom;
}





div.pointelle-slider-nav + div.pointelle-slider-nav{
}
.pointelle_nav_thumb {
	float: left !important;
	margin: 0 15px 0 0 !important;
	padding: 0px !important;
	display: block;
}
span.pointelle-order {
	display: none;
}
div.pointelle-slider-nav h2 {
	float: left;
	padding-bottom: 4px;
	clear: none;
	margin: 0px !important;
}
span.pointelle-meta {
	padding: 1px 0px;
	border: 1px solid #ccc;
	border-width: 1px 0 0 0;
	display: block;
	float: left;

}
div.pointelle-active,div.pointelle-slider-nav:hover {
	background: #FFF; /* Old browsers */

}

div.pointelle-active h2 {
	background: url(../images/navtitle_act_border.png) repeat-x bottom left;
	margin-bottom: 1px;
	color: #222 !important;
}
div.pointelle-active span.pointelle-meta {
	color: #797979 !important;
	border: 0px !important;
}
div.pointelle-active-lt {
	background: url(../images/arrow_lt_bg.png) no-repeat center right;
	background-color: transparent !important;
	margin-right: -20px;
	padding-right: 36px;
	border: none !important
}
div.pointelle-active-lt h2 {
	background: url(../images/navtitle_act_border.png) repeat-x bottom left;
	margin-bottom: 1px;
	color: #222 !important;
}
div.pointelle-active-lt span.pointelle-meta {
	color: #797979 !important;
	border: 0px !important;
}
/*.pointelle_slider .pointelle_thumb_anchor{display:block;}*/
div.pointelle-excerpt {

	bottom: 0px;
	left:00; /*padding: 10px 10px 15px 20px;*/
	margin-left:0;
	padding:9px !important;
	z-index: 2;
	background:#FFF;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

	

}
div.pointelle-excerpt aside{ width:379px;
display:block;
}



div.pointelle-excerpt article{padding:12px 21px 14px;
display:block;
background:url(../images/light_bg.png);
color:#000;
font-size:15px;
line-height:18px;
}

a.Link_01{background:#ffffff url(../images/link_01.png) center left no-repeat;
display: inline-block;
color:#262161;
font-size:18px;
font-family:"Times New Roman", Times, serif;
border-left:#262161 4px solid;
padding:15px 30px 14px;
padding-left:55px;
margin-top:67px;
}
a.Link_02{background:#ffffff url(../images/link_02.png) center left no-repeat;
display: inline-block;
color:#262161;
font-size:18px;
font-family:"Times New Roman", Times, serif;
border-left:#262161 4px solid;
padding:15px 30px 14px;
padding-left:55px;
margin-top:67px;
}

a.Link_03{background:#ffffff url(../images/link_03.png) center left no-repeat;
display: inline-block;
color:#262161;
font-size:18px;
font-family:"Times New Roman", Times, serif;
border-left:#262161 4px solid;
padding:15px 30px 14px;
padding-left:55px;
margin-top:67px;
}
a.Link_04{background:#ffffff url(../images/link_04.png) center left no-repeat;
display: inline-block;
color:#262161;
font-size:18px;
font-family:"Times New Roman", Times, serif;
border-left:#262161 4px solid;
padding:15px 30px 14px;
padding-left:55px;
margin-top:67px;
}

a.Link_01:hover,a.Link_02:hover,a.Link_03:hover,a.Link_04:hover{color:#feb705;
}


div.pointelle-excerpt p {
	clear: left;
	padding: 5px 10px 5px 20px;
}
.pointelle_overlay {
	background: url(../images/overlay.png) repeat top left;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.pointelle_slider p.more a {
	text-decoration: underline;
	float: right;
}
.pointelle_slider p.more a:hover {
	text-decoration: none;
}
.pointelle_slider .sldr_clearlt {
	display: block;
	visibility: hidden;
	clear: left;
	height: 0;
	content: ".";
}
.pointelle_slider .sldr_clearrt {
	display: block;
	visibility: hidden;
	clear: right;
	height: 0;
	content: ".";
}
/*New CSS since version 1.5*/
.pointelle_nav_arrows {
	position: absolute;
	bottom: 1px;
	right: 0px;
	width: 48px;
	height: 24px;
	z-index: 10;
	background: #ccc;
	border: #fff;
}
.pointelle_nav_down {
	width: 12px;
	height: 12px;
	background: url(../images/down.png) top left no-repeat;
	margin: 6px !important;
	float: left;
	cursor: pointer;
}
.pointelle_nav_up {
	width: 12px;
	height: 12px;
	background: url(../images/up.png) top left no-repeat;
	margin: 6px!important;
	float: right;
	cursor: pointer;
}
.pointelle_slide_arrow {
	display: none;
}
.pointelle_nav_next {
	position: absolute;
	right: 0px;
	top:44.5%;
	width:40px;
	height:40px;
	background: url(../images/next.png) top left no-repeat;
	margin-right:1% !important;
	cursor: pointer;
	z-index: 100;
	opacity: 1;
}
.pointelle_nav_prev {
	position: absolute;
	left: 0px;
	top:44.5%;
	width:40px;
	height:40px;
	background: url(../images/prev.png) top left no-repeat;
	margin-left:1% !important;
	cursor: pointer;
	z-index: 100;
	opacity: 1;
}
/*fot embed shortcode*/
.pointelle_slider .wp-video {
	margin: 0 auto;
	width: 100% !important;
}
.pointelle_slider .pointelle_eshortcode {
	position: absolute;
	height: 100% !important;
	top: 0;
}
.pointelle_slider video {
	display: inline-block;
	width: 100% !important;
	margin: 0 !important;
	height: 100%;
}
.pointelle_slider .mejs-container {
	margin: 0 !important;
}
/*.pointelle_slider .mejs-overlay-button{margin-top:-50px !important;}*/
.pointelle_slider div.mejs-mediaelement {
	height: 100% !important;/*max-width:100% !important;*/
}
.pointelle_slider div.mejs-inner, .pointelle_slider div.wp-video-shortcode, .pointelle_slider div.wp-video, .pointelle_slider .mejs-layers, .pointelle_slider .mejs-overlay-play {
	height: 100% !important;
	max-width: 100% !important;
}
.pointelle_slider .mejs-overlay-button {
	margin-left: -50px;
}
/*Added*/
.pointelle_slider .pointelle_slideri {
	width: 100% !important;
}
.pointelle_slider .pointelle_slideri .pointelle_slider_thumbnail {
	max-height: 100%;
}
.pointelle_slider .pointelle_slides, .pointelle_slider .pointelle_slideri {
	height: 100% !important;
}



/**********Custom*********/
.pointelle_slides img{ width:100%;
height:auto;
}

.banner_custom{height:513px !important;
width:100% !important;
}
.pointelle_slideri{ float:left;
 width:258px;
 padding:9px !important;
 position:relative;
}
@media (max-width: 1024px) {
div.pointelle-slider-control{ width:71%;}

}
@media only screen and (max-width: 900px) {
	div.pointelle-slider-control{ width:71%;}
.pointelle_slides{ width:28% !important;}
.pointelle_slideri {padding:0 !important;width:auto;}
div.pointelle-slider-nav{ height:200px;}
div.pointelle-slider-control.pagenation{ display:none !important;}		
}
@media (max-width:768px) {
div.pointelle-slider-nav{ width:33.333333%} 
.banner_custom {height: 634px !important;}
 .pointelle_slides{ background:none;}   
}
@media (max-width:720px) {

}

@media (max-width:690px) {



}
@media screen and (max-width:600px) {
.pointelle_slides {width:100% !important;}
div.pointelle-slider-control {width: 100%;}
div.pointelle-slider-nav {width:25%;}
.pointelle_slideri ul li{ float:left; width:48%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}    
 .pointelle_slideri ul li:nth-child(odd){ float:right;}  
 .pointelle_slider .pointelle_slideri,.pointelle_slider .pointelle_slides {height: 47% !important;}




}
@media screen and (max-width:560px) {

}

@media screen and (max-width:500px) {
div.pointelle-slider-nav {width:33.333333%;}
.pointelle_slideri ul li{ float:left; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}    
 .pointelle_slideri ul li:nth-child(odd){ float:right;}  
 .pointelle_slider .pointelle_slideri,.pointelle_slider .pointelle_slides {height: 100% !important;}
.banner_custom {height: 502px !important;}
    

}

@media screen and (max-width:480px) {

}

@media screen and (max-width:400px) {
div.pointelle-slider-nav {width:50%;}
}
@media screen and (max-width:320px) {

}






