

/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/

.d-carousel2 ul li {
	
	list-style:none;

	margin-left:0px;
	float:left;
	
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel2 h4 {
	margin: 5px 0 5px 0;
}

.d-carousel2 .jcarousel-container {
	display: block;
	/*overflow: hidden;
	margin-bottom: 0px;*/
}

.d-carousel2 .jcarousel-item,#wrapper .d-carousel2 ul li  {
	width:142px;
	/*height:97px;*/
}

.d-carousel2 .jcarousel-container-horizontal {
	width:100%;
	/*height:97px;*/
	padding:0px;
	padding-left:0px;
}

.d-carousel2 .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-bottom:0px;
	margin-top:0px;
	
}

.d-carousel2 .jcarousel-next-horizontal {
	position: absolute;
	top:50%;
	margin-top:-10px;
	right: 0;
	margin-right:-21px !important;
	width:10px;
	height:20px;
	cursor: pointer;
	background: transparent  url(../images/a_right2b.png) no-repeat;
	
}

.d-carousel2 .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(../images/a_right2b.png);
}

.d-carousel2 .jcarousel-next-horizontal:hover {
	background-image: url(../images/a_rightb.png);
}

.d-carousel2 .jcarousel-prev-horizontal {
	position: absolute;
top:50%;
	margin-top:-10px;
	left: 0;
	margin-left:-21px !important;
	width:10px;
	height:20px;
	cursor: pointer;
	background: transparent  url(../images/a_leftb.png) no-repeat;
	
	}
.d-carousel2 .jcarousel-prev-horizontal:hover{background: transparent  url(../images/a_left2b.png) no-repeat;
}

.d-carousel2 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../images/a_left2.png);
}


.d-carousel2 figure{
	 display:block;
	 padding-right:10px;
}
.d-carousel2 figure img{
	 width:100%;
	 height:auto;
	 vertical-align:bottom;
	 border:1px solid #dbdbdb;
	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
}


 @media (max-width: 1024px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li  {width:236px;}
	 
 }
@media only screen and (max-width: 900px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:273px;}
    


	
	
}

 @media (max-width:768px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:229px;}

	
	
 }
 @media (max-width:720px) {.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:213px;}
	

}
@media (max-width:700px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:203px;}

}

 @media (max-width:690px) {
.d-carousel2 ul li,.d-carousel2 .jcarousel-item {}		
}
 @media (max-width:650px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:190px;}	
}
 @media (max-width:600px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:173px;}	
}


 @media (max-width:580px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:167px;}	

 
 }
  @media (max-width:560px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:240px;}	

 
 }

  @media (max-width: 500px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:140px;}
 
}


  @media (max-width: 480px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:200px;}
 

}
  @media (max-width: 414px) {
.d-carousel2 .jcarousel-item,.d-carousel2 ul li {width:167px;}
 

}

  @media (max-width: 400px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:155px;}

}
  @media (max-width: 320px) {
.d-carousel2 .jcarousel-item, .d-carousel2 ul li {width:241px;}
	 
}