
.thumb_box a{ border:1px solid #dfdfdf;
display:block;
}
.thumb_box a.active{ border:1px solid #ed1c24;
display:block;
}
.thumb_box{
	 width:60px;
}
.thumb_box img{
	 width:100%;
	 height:48px;
	 vertical-align:bottom;
	
}
.Thumb_wrap{ padding:0 40px;
padding-top:10px;

}


/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/

.d-carousel-thumb ul li {
	
	list-style:none;
	
	margin-right:0px;
	
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel-thumb h4 {
	margin: 5px 0 5px 0;
}

.d-carousel-thumb .jcarousel-container {
	display: block;
	/*overflow: hidden;
	margin-bottom: 0px;*/
}

.d-carousel-thumb .jcarousel-item,.d-carousel-thumb ul li {
	width:74px;
	/*height:97px;*/
}

.d-carousel-thumb .jcarousel-container-horizontal {
	width:100%;
	/*height:97px;*/
	padding:0px;
	padding-left:0px;
}

.d-carousel-thumb .jcarousel-item-horizontal {
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	
}

.d-carousel-thumb .jcarousel-next-horizontal {
	position: absolute;
	top:50%;
	margin-top:-16px;
	right: 0;
	margin-right:-40px !important;
	width:19px;
	height:32px;
	cursor: pointer;
	background: transparent  url(../images/th_right.png) no-repeat;
}

.d-carousel-thumb .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(../images/th_right.png);
}

.d-carousel-thumb .jcarousel-next-horizontal:hover {
	background-image: url(../images/th_right2.png);
}

.d-carousel-thumb .jcarousel-prev-horizontal {
	position: absolute;
	top:50%;
	margin-top:-16px;
	left:0;
	margin-left:-41px;
	width:19px;
	height:32px;
	cursor: pointer;
	background: transparent  url(../images/th_left.png) no-repeat;
}
.d-carousel-thumb .jcarousel-prev-horizontal:hover{background: transparent  url(../images/th_left2.png) no-repeat;
}

.d-carousel-thumb .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../images/th_left.png);
}

/*.d-carousel-thumb .jcarousel-prev-horizontal:hover {
	background-position: bottom left;
}*/
.border_03{ border:1px solid #d3c0aa;
}
 @media (max-width: 1024px) {
.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {

}
	 
 }
@media only screen and (max-width: 900px) {
.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item { width:61px;}
.Box{  }
.d-carousel-thumb .jcarousel-prev-horizontal {}
.d-carousel-thumb .jcarousel-next-horizontal {}
}

 @media (max-width:768px) {
.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item { width:67px;}	 
.d-carousel-thumb .jcarousel-next-horizontal { }
.d-carousel-thumb .jcarousel-prev-horizontal{}
	
 }
 @media (max-width:720px) {.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item { width:59px;}
.thumb_box {width: auto; margin-right:2px;}
.thumb_box img {width: 100%;height: auto;}
    
    
    
	

}
@media (max-width:700px) {
.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item { width:83px;}	

}
 @media (max-width:690px) {
	
}
 @media (max-width:650px) {
	 .d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item { width:75px;}	
	 .thumb_box {width: auto; margin-right:4px;}
 }
 @media (max-width:600px) {.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:79px;}	
 }

 @media screen and (max-width: 580px) {.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:76px;}
 
}
 @media screen and (max-width: 560px) {.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:73px;}
 	 .thumb_box {width: auto; margin-right:5px;}
 
}
 @media screen and (max-width: 500px) {.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:75px;}
}

 @media screen and (max-width: 480px) {
.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:71px; }

}

 @media screen and (max-width: 414px) {

.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:73px;}
	
 
}

 @media screen and (max-width: 400px) {
.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:67px;}
}

 @media screen and (max-width: 320px) {
.d-carousel-thumb ul li,.d-carousel-thumb .jcarousel-item {width:66px;}
}