
#wrapper {
	width:100%;
	padding-top:0px;
}
.img-wrap{
	 position:relative;
}
.img-wrap img{
	 width:100%;
	 height:auto;
	 vertical-align:bottom;
}

/*-----------------------------------------------------------------------------------*/
/*	3. CAROUSEL
/*-----------------------------------------------------------------------------------*/

.d-carousel ul li {
	
	list-style:none;

	margin-left:0px;
	float:left;
	
}

.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel h4 {
	margin: 5px 0 5px 0;
}

.d-carousel .jcarousel-container {
	display: block;
	/*overflow: hidden;
	margin-bottom: 0px;*/
}

.d-carousel .jcarousel-item,.d-carousel ul li  {
	width:640px;
	/*height:97px;*/
}

.d-carousel .jcarousel-container-horizontal {
	width:100%;
	/*height:97px;*/
	padding:0px;
	padding-left:0px;
}

.d-carousel .jcarousel-item-horizontal {
	margin-left: 0px;
	margin-bottom:0px;
	margin-top:0px;
	
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute;
bottom:0;
	margin-bottom:-79px;
	left:50%;
	margin-left:106px !important;
	width:30px;
	height:30px;
	cursor: pointer;
	background:url(../images/a_right.png) no-repeat;
	
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image:url(../images/a_right.png);
}

.d-carousel .jcarousel-next-horizontal:hover {
	background-image:url(../images/a_right2.png);
}

.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
bottom:0;
	margin-bottom:-79px;
	left:50%;
	margin-left:-137px !important;
	width:30px;
	height:30px;
	cursor: pointer;
	background: url(../images/a_left.png) no-repeat;
	
	}
.d-carousel .jcarousel-prev-horizontal:hover{background: url(../images/a_left2.png) no-repeat;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../images/a_left.png);
}

/*.d-carousel .jcarousel-prev-horizontal:hover {
	background-position: bottom left;
}*/
.border_03{ border:1px solid #d3c0aa;
}
 @media (max-width:1440px) {
.d-carousel .jcarousel-item,.d-carousel ul li{ width:712px;}

 }
  @media (max-width:1366px) {
.d-carousel .jcarousel-item,.d-carousel ul li{ width:675px;}

 }
 
 @media (max-width: 1024px) {
.d-carousel .jcarousel-item,.d-carousel ul li{ }
	 
 }
@media only screen and (max-width: 900px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:589px;}
    


	
	
}

 @media (max-width:768px) {
.d-carousel .jcarousel-item, .d-carousel ul li { width:501px;}

	
	
 }
 @media (max-width:720px) {.d-carousel .jcarousel-item, .d-carousel ul li {width:703px;}
	

}
@media (max-width:700px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width: 674px;}

}

 @media (max-width:690px) {
.d-carousel ul li,.d-carousel .jcarousel-item {}		
}
 @media (max-width:650px) {
.d-carousel .jcarousel-item, .d-carousel ul li { width:633px;}	
}
@media (max-width: 640px){
.d-carousel .jcarousel-item, .d-carousel ul li {
    width: 645px;
}
 @media (max-width:600px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:583px;}	
}


 @media (max-width:580px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:563px;}	
 }

 @media (max-width:560px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:543px;}	
 }
 @media screen and (max-width: 500px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:483px;}	
 
}


 @media screen and (max-width: 480px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:463px;}
 

}
 @media screen and (max-width: 414px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:397px;}

}

 @media screen and (max-width: 400px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:383px;}

}
 @media screen and (max-width: 320px) {
.d-carousel .jcarousel-item, .d-carousel ul li {width:303px;}
	 
}