.ddsmoothmenu {
	position: relative;
	z-index: 200;
	padding-top: 0px;
	padding-left: 0px;
	font-size:17px;
	font-family: 'robotomedium';
}
.ddsmoothmenu ul {
	margin: 0px;
	padding: 0px;
	text-align: left;
	margin-left: 0px;
}
/*Top level list items*/
.ddsmoothmenu ul li {
	display: inline;
	float: left;
	position: relative;
	list-style: none;
	float: left;
	margin-left: 0px;
	margin-left: px;
	line-height:17px;
	padding-bottom: 0;
	text-align: center;
	
	
}
.ddsmoothmenu ul li+li{
	margin-left:12px;

	}
.ddsmoothmenu ul li+li+li+li{
	
	}
	.ddsmoothmenu ul li+li+li+li+li{
	
	}
	
	
/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	text-decoration: none;
	padding: 0;
	color: #4b4b4b;
	text-align: center;
	position: relative;
	padding:0px 18px;
	padding-top:13px;
	padding-bottom:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;

}
.ddsmoothmenu ul li a:link {
	color: 04384c;
}
.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #FFF !important;
	display: block;
	background:#ff0000;
}
.ddsmoothmenu ul li.Select a { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #FFF;
	display: block;
	background:#ff0000;
}
.ddsmoothmenu ul li a:hover {
	color: #FFF;
	display: block;
	background:#ff0000;
}
/*************************************** corner *********************************/
.ddsmoothmenu ul .left a {
	padding: 0px;
}
.ddsmoothmenu ul .right ul li a {
	padding-left: 8px !important;
}
/*1st sub level menu******************************************************/
.ddsmoothmenu ul li ul {
	position: absolute;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	width:190px;
	text-align: left;
	text-transform: none;
	 font-size:14px;
	font-family: 'robotoregular';

}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li {
	display: list-item;
	float: none;
	padding-right: 0px !important;
	/*	border-bottom:1px solid #906f59;
*/	background: #423f3f;
	text-transform: none;
			border-left:0px solid #bebebe;
	border-right:0px solid #bebebe;
}
.ddsmoothmenu ul li ul li + li {
	border-top: 1px #504d4d solid;
		border-left:0px solid #bebebe;
	border-right:0px solid #bebebe;
	margin-left:0 !important; 
}
.ddsmoothmenu ul li ul li a {
	color: #ffffff;
	margin: 0;
	padding: 0px;
	padding:9px 10px !important;
	/*padding-right:28px !important;*/
	text-align: left;
		border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
.ddsmoothmenu ul li ul li a:hover,.ddsmoothmenu ul li ul li.Select a {
	color:#FFF !important;
	background:#ff0000 !important;
}
.ddsmoothmenu ul li ul li a.selected {
	color:#FFF !important;
	background:#ff0000 !important;
}
.ddsmoothmenu ul li ul li .btm {
	border: 0px !important;
	margin-bottom: 0px;
}
/*.ddsmoothmenu ul li ul li ul li a {
	background-image:none;
	background-color:#dedede;
}
.ddsmoothmenu ul li ul li ul li a:hover {
	background-image:none !important;
	background-color:#f1f1f2;
}*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass {
	position: absolute;
}
*html .downarrowclass {
	position: absolute;
	top: 5px;
	right: 4px;
}
.rightarrowclass {
	position: absolute;
	top:0px;
	margin-top:13.5px;
	right:0px;
	margin-right:12px;
}
/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow {
	position: absolute;
	/*background:url(../images/nav-bg.png) bottom left;*/
	z-index: 200;
	margin-left: 1px;
}
.toplevelshadow { /*shadow opacity. Doesn't work in IE*/
	opacity: 100;
}
.bg_none {
	background: none!important;
}
/*********************Select Submenu****************/

.ddsmoothmenu ul li.Select ul li a {
	color: #ffffff;
	margin: 0;
	padding: 0px;
	padding:9px 10px !important;
	/*padding-right:28px !important;*/
	text-align: left;
		border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	background:none !important;
}
.ddsmoothmenu ul li.Select ul li a:hover {
	color:#FFF !important;
	background:#ff0000 !important;
}
.ddsmoothmenu ul li.Select ul li a.selected {
	color:#FFF !important;
	background:#ff0000 !important;
}
/*********************Select Submenu 3Rd****************/
.ddsmoothmenu ul li.Select ul li.Select a{
	color:#FFF !important;
	background:#ff0000 !important;
}

.ddsmoothmenu ul li.Select ul li.Select ul li a{
	color: #ffffff;
	margin: 0;
	padding: 0px;
	padding:9px 10px !important;
	/*padding-right:28px !important;*/
	text-align: left;
		border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	background:none !important;
}
.ddsmoothmenu ul li.Select ul li.Select ul li a:hover {
	color:#FFF !important;
	background:#ff0000 !important;
}
.ddsmoothmenu ul li.Select ul li.Select ul li.Select a {
	color:#FFF !important;
	background:#ff0000 !important;
}

/*****************************Responsive*************************************/
@media (max-width: 1024px) {
.ddsmoothmenu ul li+li {margin-left: 0px;}
 .ddsmoothmenu ul li a{padding: 0px 12px;padding-top:13px;padding-bottom:12px;}
	    
	
	
}

@media (max-width:900px) {

    
}    
@media (max-width:768px) {

    
}    
    

/***************Mody*******/
.ddsmoothmenu ul li a img.downarrowclass{
	background:url(../images/arrow-down.png) no-repeat;
	margin-top:6px;
	 right:0px;
	 margin-right:20px;
}
.ddsmoothmenu ul li a:hover img.downarrowclass,.ddsmoothmenu ul li a.selected img.downarrowclass,.ddsmoothmenu ul li.Select img.downarrowclass{background:url(../images/arrow-down2.png) no-repeat;
}























