/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
	font-family: 'flexslider-icon';
	src: url('../fonts/flexslider-icon.eot');
	src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus {
	outline: none;
}
.slides, .slides > li, .flex-control-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flexslider .slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .flexslider .slides {
	display: block;
}
* html .flexslider .slides {
	height: 1%;
}
.no-js .flexslider .slides > li:first-child {
	display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
	margin: 0px;
	background: #ffffff;
	position: relative;
	zoom: 1;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides img {
	height: auto;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flex-direction-nav {
 *height: 0;
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width:60px;
	height:60px;
	margin: -30px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;

}
.flex-direction-nav a:before {
	font-family: 'FontAwesome';
	font-size: 30px;
	width:60px;
	height:60px;
	display: block;
	content: "";
	color: #FFF;
	background:url(../images/banner-left.png) left top no-repeat;
}
.flex-direction-nav a.flex-next:before {
	content: '';
	background:url(../images/banner-right.png) left top no-repeat;
	width:60px;
	height:60px;
	 display:block;
}
.flex-direction-nav .flex-prev {
	left:143px;
}
.flex-direction-nav .flex-next {
	right:143px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	opacity:1;
	left:143px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
	background:url(../images/banner-left.png) left bottom no-repeat;
}
.flexslider:hover .flex-direction-nav .flex-next {
	opacity:1;
	right:143px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
	background:url(../images/banner-right.png) left bottom no-repeat;
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
}
.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #000;
}
.flex-pauseplay a:before {
	font-family: "flexslider-icon";
	font-size: 20px;
	display: inline-block;
	content: '\f004';
}
.flex-pauseplay a:hover {
	opacity: 1;
}
.flex-pauseplay a.flex-play:before {
	content: '\f003';
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 34px;
	text-align: center;
	left: 0px;
	margin-left: 0;
}
.flex-control-nav li {
	margin: 0 4px;
	display: inline-block;
	zoom: 1;
 *display: inline;
}
.flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: url(../images/banner-pagin01.png) no-repeat;
	cursor: pointer;
	text-indent: -9999px;/*  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;*/
}
.flex-control-paging li a:hover {
	background: url(../images/banner-pagin02.png) no-repeat;
}
.flex-control-paging li a.flex-active {
	background: url(../images/banner-pagin02.png) no-repeat;
	cursor: default;
}
.flex-control-thumbs {
	margin: 0;
	bottom: 0px;
	margin-bottom: 46px;
	position: absolute;
	overflow: hidden;
	text-align: center;
	z-index: 1000;
}
.flex-control-thumbs li {
	width: 35px;
	float: none;
	margin: 0 2.5px;
	display: inline-block;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 3px solid #7c7c7c;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
	border: 3px solid #b7b7b7;
}
/*******************Slide Testimonial***************/
.flexslider2 .flex-control-nav {
	bottom: -46px;
	left: 0px;
	margin-left: 0 !important;
}
.flexslider2 .flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
}
.flexslider2 .flex-control-paging li a {
	width: 50px;
	height: 6px;
	display: block;
	background: #e2e0e0;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.flexslider2 .flex-control-paging li a:hover {
	background: #2a9be9;
}
.flexslider2 .flex-control-paging li a.flex-active {
	background: #2a9be9;
	cursor: default;
}














/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
 @media screen and (max-width:1440px) {
.flex-direction-nav .flex-prev,.flexslider:hover .flex-direction-nav .flex-prev {left:10px;}
.flex-direction-nav .flex-next,.flexslider:hover .flex-direction-nav .flex-next{right:10px;}
 }
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 10px;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 0.7;
	left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: 10px;
}
}
@media (max-width:768px) {
/*************Home********/

.flex-control-thumbs {
	margin-bottom: 15px !important;
}
.flex-direction-nav{ display:none !important;}
}
@media (max-width:500px) {
	.flex-control-nav{bottom:10px ;}

}