/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	margin: 0;
	padding: 0;
	
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	position:relative;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	width: 100%;
	display: block;
	height:100%;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin: 0 0 0px;
	background: none;
	border: 0px solid #fff;
	position: relative; /*-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); */
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 500px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px
}
/* Direction Nav */
.flex-direction-nav {
*height: 0;
}
.flex-direction-nav a {
	width:7px;
	height:13px;
	/*margin: -20px 0 0;*/
	display: block;
	background: url(../images/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	bottom:0px;
	margin-bottom:12px;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity:1;
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right:15px;
}
.flex-direction-nav .flex-next:hover{background: url(../images/bg_direction_nav2.png) no-repeat 100% 0;
}
.flex-direction-nav .flex-prev:hover {
	background: url(../images/bg_direction_nav2.png) no-repeat 0 0;
}
.flex-direction-nav .flex-prev {
	right:40px;
}
.flexslider:hover .flex-next {
	opacity:1;
	right:15px;
}
.flexslider:hover .flex-prev {
	opacity:1;
	right:40px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important;
	filter: alpha(opacity=30);
	cursor: default;
}
/* Control Nav */
.flex-control-nav {
	/*width: 100%;*/
	position: absolute;
	bottom: 0px;
	right:0px;
	/*text-align: center;*/
}
.flex-control-nav li {
	margin: 0 6.5px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
/*.flex-control-paging{ 
margin-bottom:17px;
padding-left:40%;
}*/
ol.flex-control-paging { float:right !important;
margin-bottom:7px;
display:inline-block;
/*text-align:center;*/
margin-right:0px !important;
width:100%;
padding-left:19px;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;


}
ol.flex-control-paging li{ 
}
ol.flex-control-paging li a {
	width:14px;
	height:14px;
	display: block;
	background: url(../images/nav01.png) no-repeat;
	cursor: pointer;
	text-indent: -9999px;
	text-align:center;
	
}
ol.flex-control-paging li a:hover {
	background: url(../images/nav02.png) no-repeat;
}
ol.flex-control-paging li a.flex-active {
	background: url(../images/nav02.png) no-repeat;
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
 @media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 0;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 0;
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
}
.flex-direction-nav{display:none !important;
}
article.Caption {
	position: absolute;
	width:50%;
	bottom:0px;
	right:0px;
	bottom:0px;
	margin-right:0px !important;

}

.text{ padding:0;
}
.text h1.CapsHead{font-family: 'universbold';
font-size:48px;
display:block;
color:#FFF;
font-weight:bold;
}
.capt{ text-align:right;
padding:15px;
background:url(../images/dark_bg.png) left top repeat-y;
color:#FFF;
font-size:12px;
line-height:15px;
}

.text p{ display:block;
padding-top:12px;
text-align:center;
font-size:14px;
color:#FFF;
}
@media (max-width: 900px) {

.flex-direction-nav{ display:none !important;}
 
}