#accordion {
	list-style: none;
	padding: 0 0 0 0;
	width:100%;
}
#accordion li span {
	display: block;
	cursor: pointer;
	 font-size:14px;
  line-height:14px;
  color:#676767;
  position:relative;
  padding:13px 10px;
  padding-right:25px;
  
	

}
#accordion li span:after{
	    content: "\f105";
		  font-family: 'FontAwesome';
		  color:#676767;
		  position:absolute;
		  right:0px;
		  margin-right:10px;
		   top:0px;
		   margin-top:14px;
	}
	
#accordion li:hover	span:after{
	    content: "\f107";
		  font-family: 'FontAwesome';
		  color:#FFF;
	}
#accordion li:hover	span{
	background:#fe0000 ;
	color:#FFF;
}
#accordion li.active span,#accordion li.active span a{
	background:#fe0000;
	color:#FFF;
}
#accordion li.active span:after{
	color:#FFF;
	content: "\f107";
}

#accordion ul {
	list-style: none;
	padding: 0 0 0 0;
	position:relative;
}

#accordion li {
	font-weight: normal;
	cursor: auto;
	background-color: #fff;
}


#accordion li {
	font-weight: normal;
	cursor: auto;
	background-color: #fff;


}

#accordion li ul{
	font-weight: normal;
	background-color: #fff;
	padding:15px 0 15px 0 !important;
}
#accordion li li {
	font-weight: normal;
	cursor: auto;
	margin-left:10px;
	 line-height:20px;
	 position:relative;
}
#accordion li li:before{
	content: "";
		  font-family: 'FontAwesome';
		  color:#FFF;
		   width:2px;
		   background:#d1d1d1;
		   position:absolute;
		   height:100%;
}
#accordion li a {
	text-decoration: none;
	color:#676767;
	 display:block;
}
#accordion li:hover a{
	color:#FFF !important;
}
.act{
	text-decoration: none!important;
	color:#726e6d!important;
}
#accordion li:hover li a,#accordion li li a {
	text-decoration: none;
	color:#676767 !important;
	padding:12px;
	padding-left:28px;
}

#accordion li li:hover a{
	color:#fe0000 !important;
	display:block;
}
#accordion li li.active a{
	color:#fe0000 !important;
	
	display:block;
}
#accordion li li a:before{
	content: "";
	display: none;
}
#accordion li li:hover a:before{
	content: "";
		  color:#FFF;
		   width:5px;
		   background:#FFF url(../images/sub-hover.jpg) left center no-repeat;
		   position:absolute;
		   height:100%;
		   height:14px;
		   left:0px;
		   margin-left:0;
		   top:50%;
		   margin-top:-7px;
		    display:block;
}
#accordion li li.active  a:before{
	 color:#FFF;
		   width:5px;
		   background:#FFF url(../images/sub-hover.jpg) left center no-repeat;
		   position:absolute;
		   height:100%;
		   height:14px;
		   left:0px;
		   margin-left:0;
		   top:50%;
		   margin-top:-7px;
		    display:block;
}