@charset "utf-8";
/* CSS Document */
#menu {
	font-family: 'robotomedium';
/*	float: left;
	clear: left;*/
	position: relative;
	z-index: 100;
	display:block;
	margin-left:0px;
	margin-top:0px;
	vertical-align:bottom;
	background:url(../images/divder.png) left top no-repeat;
	
}
#menu .quote {
	display: inline-block;
	color: #a5ff2c;
	float: right;
	text-decoration: none;
	margin-right: 25px;
	padding-right: 12px;
	background: url(../images/arrow_1.png) no-repeat right center;
}
#menu ul {
	/*float:right;*/
	display: block;
	position: relative;
	z-index: 1000;
	padding: 0;
	list-style-type: none;
	text-align:center;
	
	
	
}
#menu li {
	position: static;
	display: inline-block;
	float: left;
	position: relative;
	margin-left:0px;
	margin-left:px;
	text-transform:uppercase;
	line-height:13px;
	padding-bottom:0;
	text-align:center;
	background:url(../images/divder.png) right top no-repeat;
	
}
#menu ul li + li {
	
	 
}

#menu li a {
	display:block;
	text-decoration:none;
	padding:0;
	color: #303030;
	text-align:center;
	position:relative;
	padding:0 25px;
	padding-top:16px;
	padding-bottom:16px;
	line-height:13px;
}
#menu li a:hover, #menu li a.selected, #menu li.select a, #menu li a.Select {
	color: #FFF !important;
	display:block;
	background: url(../images/nav-main-hover.png) left top repeat-x;
	
}
#menu li a span {
	color: #595959;
	display: block;
	font-size:12px;
	margin-top:6px;
	padding-bottom:7px;
	font-family: 'MyriadProRegular';
	text-transform:none;
}
#menu li a:hover span,#menu li a.selected span{color: #313131 !important;
}


#menu ul li ul {
	display: none;
	padding:0px  0px 0px 0;
	width:240px;
	top:0px;
	margin-top:45px;
	position: absolute;
	left:0px;
	margin-left:0px;
	background:#e9e9e9;

}
#menu ul li ul.twoList {
	width: 520px;
}
#menu ul li ul li {
	display: block;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: relative;
	border-left:0px solid #1c1c1c;
	float:none;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	text-transform:none;
}
#menu ul li ul.twoList li {
	width: 250px;
	float: left;
	
}
/*.ddsmoothmenu ul li.Select ul li.Select a{color: #d8b511!important;
}*/

#menu ul li ul li:hover,#menu ul li ul li.act{ border-left:0px solid #ffb737;
}
#menu ul li ul li + li {
	border-top: 1px #acacac solid;
	background:none;
	
}
#menu ul li ul li a {
	color:#303030;
	line-height: normal;
	font-size:12px;
	display: block;
	text-decoration: none;
	position: relative;
	padding:10px 15px !important;
	padding-left:15px !important;
	text-align:left;
	background:url(../images/arrow-01.png) right center no-repeat;
}
#menu ul li ul li a:hover{
	color: #0072dc !important;
	background: none !important;
}

#menu ul li ul li a.selected,#menu ul li ul li a.Select{background: none !important;
color: #0072dc !important;
}


#menu ul li ul li a.act,#menu ul li ul li a.act:hover{
	color: #FFF !important;
}


#menu ul li ul li a:hover, #menu ul li ul li a.selected,#menu ul li ul li.act a,#menu ul li ul li.act a:hover {
	color:#FFF !important;
	
}
#menu ul li ul ul {
	width:220px;
	left:230px;
	top:0;
	margin-top:0 !important; 
	position: absolute;
	display: none;
	padding: 0px;
	border: 0px;
}

#menu .downarrow {
	position: absolute;
	right:8px;
	top:23px;
	width:8px;
	height:5px;
	background: url(../images/down.png) no-repeat;
	z-index:10;
}
#menu ul li:hover .downarrow {background: url(../images/down2.png) no-repeat;}
#menu .rightarrow {
	position: absolute;
	right: 10px;
	top: 14px;
	width: 3px;
	height: 5px;
	background: url(../images/navArrow2.png) no-repeat;
}
#menu .menuDown,#smoothmenu1 .menuDown {
	display: none;
}
#menu .hiddenNav, #smoothmenu1 .hiddenNav{
	display: none;
}
#responsiveMenu {
	display: none;
}
.responsiveWrapper{display: none;
}

/****************************************************************************************************/

/***************************************************************************************************/
@media (max-width: 1024px)  {
#menu ul li + li {}
  
}
@media (max-width:900px)  {
#menu li a{}

  

}
@media only screen and (max-width:900px) {
	.Navwrap{ display:none;
	}
.responsiveWrapper{display: block;}

#menu {
	margin-left: 0px;
	/*width:100%;*/
	margin-top:8px;
	margin-bottom:0px;
	float:left;
	background:none;
}
#menu > ul,#smoothmenu1 > ul {
	display: none;
}
#menu .menuDown,#smoothmenu1 .menuDown {
	display: inline-block;
	color: #000;
	text-decoration: none;
	float: right;
	font-size:16px;
	margin-left:0%;
	height:24px;
	line-height:24px;
	
	padding-top:0px;
	box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
	

}
#menu a.menuDown:hover{/*background:#000!important;*/
}



#menu .menuDown span,#smoothmenu1 .menuDown span {
	display: block;
	padding: 0px 8px 0px 16px !important;
	background: url(../images/menu/menu.png) no-repeat 0px center;
	text-indent:-999999px;
	
}
#responsiveMenu {
	font-size: 17px !important;
	line-height: normal;
/*	text-transform: uppercase;*/
	width:100%;
	height:100%;
	padding:3%;
	overflow: auto;
	position: fixed;
	z-index:1000000000000000;
	left: 0px;
	top: 0px;
	background: url(../images/menu/menuBg.png);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#responsiveMenuInner {
	width: 100%;
	-webkit-transform:translateY(-1000px);
	-moz-transform:translateY(-1000px);
	-o-transform:translateY(-1000px);
	transform:translateY(-1000px);
}
#responsiveMenu p {
	line-height: 30px;
	position: relative;
	margin: 0px;
	padding: 8px 14px;
	background:#ff0000 ;
	border-bottom: 2px #FFF solid;
}
#responsiveMenu p span {
	color:#FFF;
	display: inline-block;
	padding-left: 20px;
	background: url(../images/menu/menu2.png) no-repeat left center;
}
#responsiveMenu p a {
	position: absolute;
	right: 0px;
	top: 0;
	width: 40px;
	height: 100%;
	display: inline-block;
	background: url(../images/menu/close.png) no-repeat center center;
}
#responsiveMenu ul {
	/*background: #538ddd;*/
background:#FFF;
background-size:100%;
}
#responsiveMenu ul li {
	position: relative;
	list-style: none;
	
}
#responsiveMenu ul li + li {
	border-top: 1px #d0cfcf solid;
}
#responsiveMenu ul li a {
	color: #000;
	display: block;
	padding: 7px 14px;
	text-decoration: none;
	font-size:14px;
	/*background:#000;*/
}
#responsiveMenu ul li a span{ /*text-transform:none; display:none;*/
}
#responsiveMenu ul li a:hover,#responsiveMenu ul li:hover a{
color:#ff0000;
}

#responsiveMenu ul li.select a,#responsiveMenu ul li a.Select,#responsiveMenu ul li.Select a {
	color:#ff0000 !important;
}
#responsiveMenu ul li ul {
	font-size: 90%;
	display: none;
	background:#423f3f;
color:#9c1826;
}
#responsiveMenu ul li ul li a,#responsiveMenu ul li.Select ul li a{color:#FFF !important;
}

#responsiveMenu ul li ul li a:hover{color:#ff0000;
}
#responsiveMenu ul li ul li:hover a ,#responsiveMenu ul li ul li.Select a,#responsiveMenu ul li ul li.Select a:hover{
color:#ff0000 !important;
/*background:#262161 !important;*/
}

#responsiveMenu ul li ul li ul {
	font-size: 90%;
	display: none;
	background:#a3a3a4;
color:#9c1826;
}

/***************3rd menu*********/
#responsiveMenu ul li ul li ul li a,
#responsiveMenu ul li ul li:hover ul li a,
#responsiveMenu ul li.Select ul li ul li a,
#responsiveMenu ul li.Select ul li.Select ul li a{color:#FFF !important;

}
#responsiveMenu ul li ul li ul li:hover a,
#responsiveMenu ul li.Select ul li ul li:hover a,
#responsiveMenu ul li.Select ul li.Select ul li:hover a,
#responsiveMenu ul li.Select ul li.Select ul li.Select a{color:#000 !important;

}
#responsiveMenu ul li ul li + li {
	border-top: 1px #878688 solid;
}
/*.menuScroll {
		position:fixed !important;
		z-index:10000 !important;
		right:2% !important;
		top:2% !important;
		margin-top:5px !important;
		width:auto !important;
		opacity:.8;
	}
	.menuScroll:hover {
		opacity:1;
	}*/
	
#responsiveMenu .downarrow {
	position: absolute;
	z-index: 10;
	right: 5px;
	top: 0px;
	width: 30px;
	height: 27px;
	padding: 0px;
	display: inline-block;
	
	
}
#responsiveMenu .downarrow:hover{ background:none;
}
#responsiveMenu .downarrow span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -7px;
	margin-top: -7px;
	width: 15px;
	height: 15px;
	background:url(../images/menu/menuArrow.png) no-repeat center center !important;

}
#responsiveMenu .downarrow.uparrow span {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#responsiveMenu .quote {
	display: none;
}
}

 @media screen and (max-width:560px) {
#smoothmenu1 .menuDown{ float:left; margin-top:5.5px; margin-left:5.5px;}

}
 @media screen and (max-width: 340px) {
	 #menu .menuDown {

	
} 
 }
 @media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 400px) {

}


/*************************/
@-webkit-keyframes bounceInDown {
0% {
opacity:0;
-webkit-transform:translateY(-2000px);
}
60% {
opacity:1;
-webkit-transform:translateY(30px);
}
80% {
-webkit-transform:translateY(-10px);
}
100% {
-webkit-transform:translateY(0);
}
}
@-moz-keyframes bounceInDown {
0% {
opacity:0;
-moz-transform:translateY(-2000px);
}
60% {
opacity:1;
-moz-transform:translateY(30px);
}
80% {
-moz-transform:translateY(-10px);
}
100% {
-moz-transform:translateY(0);
}
}
@-o-keyframes bounceInDown {
0% {
opacity:0;
-o-transform:translateY(-2000px);
}
60% {
opacity:1;
-o-transform:translateY(30px);
}
80% {
-o-transform:translateY(-10px);
}
100% {
-o-transform:translateY(0);
}
}
@keyframes bounceInDown {
0% {
opacity:0;
transform:translateY(-2000px);
}
60% {
opacity:1;
transform:translateY(30px);
}
80% {
transform:translateY(-10px);
}
100% {
transform:translateY(0);
}
}
.animated.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
 @-webkit-keyframes bounceOutDown {
0% {
-webkit-transform:translateY(0);
}
20% {
opacity:1;
-webkit-transform:translateY(-20px);
}
100% {
opacity:0;
-webkit-transform:translateY(2000px);
}
}
@-moz-keyframes bounceOutDown {
0% {
-moz-transform:translateY(0);
}
20% {
opacity:1;
-moz-transform:translateY(-20px);
}
100% {
opacity:0;
-moz-transform:translateY(2000px);
}
}
@-o-keyframes bounceOutDown {
0% {
-o-transform:translateY(0);
}
20% {
opacity:1;
-o-transform:translateY(-20px);
}
100% {
opacity:0;
-o-transform:translateY(2000px);
}
}
@keyframes bounceOutDown {
0% {
transform:translateY(0);
}
20% {
opacity:1;
transform:translateY(-20px);
}
100% {
opacity:0;
transform:translateY(2000px);
}
}
.animated.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	-moz-animation-name: bounceOutDown;
	-o-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}
.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
