/*  HTML5 ✰ Boilerplate  */

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,caption, 
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;


}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
/*::selection
{
color:#FFF;
background:#2ba08a; 
}
::-moz-selection
{
color:#FFF;
background:#2ba08a; 
}*/ 
:root *> .Post_image img{
	behavior:none;
}


/*******************Reset************/
.clearfix:after,.container:after,.col-02 address ul li:after,.wilcome-wrap:after,#menu:after,.right-col figure:after{
	content: "";
	clear: both;
	display: block;
}
.clearfix:before{
	content: "";
	clear: both;
	display: table;
}
.imageResponsive,.promotion-row figure img{ vertical-align:bottom;
width:100%;
height:auto;
}


/****Socal******/
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
    }  
 
.rotate:hover  
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}  
.socal{ display:block;

padding-top:0px;
}

.socal img{-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
	margin-right:8px;
	 

}
.socal img:hover {
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
	
}
keyframes RotateIcon {
0% {
transform:rotate(0deg);
}
100% {
transform:rotate(360deg);
}
}
 @-moz-keyframes RotateIcon {
0% {
-moz-transform:rotate(0deg);
}
100% {
-moz-transform:rotate(360deg);
}
}
 @-webkit-keyframes RotateIcon {
0% {
-webkit-transform:rotate(0deg);
}
100% {
-webkit-transform:rotate(360deg);
}
}
 @-o-keyframes RotateIcon {
0% {
-o-transform:rotate(0deg);
}
100% {
-o-transform:rotate(360deg);
}
}

/*****************Page in**************/
.pagin-wrap{ display:block;
font-size:11px;
color:#474646;

}
.pagin-wrap ul{
	float:right;
	display:inline-block;
	margin:0px;
	padding:0px;
}
.pagin-wrap ul li{ 
display: inline-block;
float:left;
height:30px;
line-height:30px;
width:30px;
margin-left:6px;
text-align:center

}
.pagin-wrap ul li a{color:#4d4d4d;
display:block;
}
.pagin-wrap ul li a:hover{color:#FFF;
background:#a40809;
}
.pagin-wrap ul li a.active{color:#FFF !important;
background:#a40809 !important;
}


.pagin-wrap ul li.pre a,.pagin-wrap ul li.Nex a{ padding:0 6px;
}
.pagin-wrap ul li.pre a:before{
	 content:"\ef62";
	 display:inline-block;
font-family: 'fontello';
font-size:20px;
margin-right:6px;
color:#929292;
}
.pagin-wrap ul li.pre a:hover:before,.pagin-wrap ul li.nex a:hover:after{ color:#FFF;}


.pagin-wrap ul li.nex a:after{
	 content:"\ef61";
	 display:inline-block;
font-family: 'fontello';
margin-left:6px;
font-size:20px;
color:#929292;
}


/*************************/
.TransformRotate45 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.TransformRotateMinus35 {
	-ms-transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	transform: rotate(-35deg);
}
.TransformSkewX25 {
	-ms-transform: skewX(25deg);
	-webkit-transform: skewX(25deg);
	-moz-transform: skewX(25deg);
	-o-transform: skewX(25deg);
	transform: skewX(25deg);
}
.TransformSkewY25 {
	-ms-transform: skewY(25deg);
	-webkit-transform: skewY(25deg);
	-moz-transform: skewY(25deg);
	-o-transform: skewY(25deg);
	transform: skewY(25deg);
}
.TransformScale075 {
	-ms-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	transform: scale(0.75);
}
.TransformScaleX075 {
	-ms-transform: scaleX(0.75);
	-webkit-transform: scaleX(0.75);
	-moz-transform: scaleX(0.75);
	-o-transform: scaleX(0.75);
	transform: scaleX(0.75);
}
.TransformScaleY075 {
	-ms-transform: scaleY(0.75);
	-webkit-transform: scaleY(0.75);
	-moz-transform: scaleY(0.75);
	-o-transform: scaleY(0.75);
	transform: scaleY(0.75);
}
.TransformScaleX125 {
	-ms-transform: scaleX(1.25);
	-webkit-transform: scaleX(1.25);
	-moz-transform: scaleX(1.25);
	-o-transform: scaleX(1.25);
	transform: scaleX(1.25);
}
.TransformScaleY125 {
	-ms-transform: scaleY(1.25);
	-webkit-transform: scaleY(1.25);
	-moz-transform: scaleY(1.25);
	-o-transform: scaleY(1.25);
	transform: scaleY(1.25);
}
