/*@media screen and (moz--min-device-pixel-ratio : 1.5), screen and (-o-min-device-pixel-ratio : 3/2), screen and (-webkit-min-device-pixel-ratio : 1.5), screen and (min-device-pixel-ratio : 1.5) {
	
	 }
*/

@media only screen and (min-height:1024px) {
}
@media (max-width: 1920px) {

}
@media (max-width: 1440px) {
	.news-block figure img{ width:100%;
	height:auto;
	}
}
@media (max-width: 1366px) {

}
@media (max-width: 1024px) {
.container{ margin:0 15px;}

.banner-caption article {font-size: 30px;line-height: 40px;}
.banner-caption a{ margin-top:17px;}
.product-box {width: 32.333333%;margin-left:0.5%; margin-right:0.5%;}
.top-Rated-product {margin-left: -5px;margin-right: -5px;}
.product-box figure img {width:100%;height:100%;}
.product-box article a{ display:none !important;}
.product-overview .view {position: relative;}	
.carusel-Achievements{ padding:0 45px;}
.Achievements figure img{ width:100%; height:auto;}
.Achievements article {font-size: 14px;padding: 0 21px;padding-top: 9px;padding-bottom: 7px; min-height:77px;}

 .left-menu {width:28%;}   
 .right-col {width:70%;} 
 .bx-product{ width:30%; margin-right:1.5%;} 
.bx-product	figure img{ width:100%; height:auto; vertical-align:bottom;}
.listing-wrap {margin-right:-7.5%;}
 
.detail_left {width:38%;}   
.detail_right {width:59%;}
.detail_left .view_image img {display:block;margin:0px auto; width: auto;max-width:100%;height:auto;max-height: 362px;vertical-align: bottom;}
/*************Cart********/	 
.col-form{width:48%;}
/*************Location********/
.location{width:60%;}	 	 
.location-info{width:37%;}	
.location .content{ height:400px;padding:0px;}
.location-info .content {height: 394px;	}
    

 
/*************contact********/		   
.contact-wrap .Enquire-form,.contact-right{ width:48%;}
/*************Thank you********/	
.thankyou {width:50%; margin-bottom:40px;}
.image-thankyou{ width:48%; height:auto; margin-right:0px;}
    
    


}
@media (max-width: 900px) {
/*************Home********/
.news-block .news-text .news-top h2{ font-size:15px; line-height:15px;}
.news-block .news-text .news-info {padding: 0 17px;padding-top: 8px;}
.news-block .news-text .news-top {padding: 0 17px;padding-top: 17px;padding-bottom: 7px;}
/*.locator {background-size: 100% 100%;}*/
.row-location .field-row {padding-left:119px;}
/*************Product Listing********/ 
 .bx-product article{ }
 .bx-product h2 {font-size: 15px;line-height: 18px;}
 .bx-product {margin-bottom: 25px;}
    
      
}
@media (max-width:768px) {
/*************Home********/
.banner-caption {margin-top: 4.5%;}
.banner-caption article{ width:70%;}
.welcome {padding-top: 26px; padding-bottom: 26px;} 
.welcome h2 {font-size: 30px;line-height:30px;margin-bottom: 6px;}
.product-box {width: 48.99999%;margin-left:1.0%;margin-right:0%;}       
.top-Rated-product {margin-left: -0.99999%;margin-right:0;}
/*.product-overview .view {position: absolute;}	*/
.news-block .news-text .news-info article {height: 43px;}
.locator span.style-01{ width:100%; text-align:center; float:none; padding-bottom:15px;}
.locator .select-location{ float:none; margin:0px auto;} 
/*************Product Listing********/ 
 .bx-product article{ min-height:37px; }
 .left-menu {padding: 13px 5px;}
/*************Location********/		
.location{width:100%;}	 	 
.location-info{width:100%; margin-top:30px;}	
/*************Location********/		
.image-thankyou{ width:48%; height:auto; margin-right:0px; position:absolute; bottom:0px; margin-bottom:0; right:0px; margin-right:0;}	
.thankyou h2 {font-size:40px; line-height:40px;}
}
@media (max-width: 720px) {
/*************Home*******/	
.banner-caption article {font-size: 24px;line-height: 31px;}
.news-block .news-text .news-info article{height:110px;}
.footer-wrap small{ width:100%; text-align:center;}
.footer-wrap aside{width:100%; text-align:center; margin-top:6px;}
/*************Product Listing********/ 
.left-menu {padding:0px 0px; width:100%;} 
.left-menu h2 { background:#e1e1e1; color: #2c3e50;padding-bottom:0px;margin-bottom:0px; padding-left:10px; padding-right:10px; padding-top:12px; padding-bottom:12px;}
.left-menu h2:before{ display:none;}
.left-menu h2 i.click{ margin-right:10px; display:block; margin-top:15px;}
.left-menu h2 i.normal-icon{ display:none;}
.left-menu .menu{ padding-top:25px; display:none;}
.right-col{ width:100%; margin-top:35px;}

.video {width:100%;}
/*************Contact********/
 .contact-wrap .Enquire-form .form-row{ padding-left:0px; margin-bottom:10px;}
  .contact-wrap .Enquire-form .form-row .fleld{ position:relative; width:100%;}
  .contact-wrap .Enquire-form .form-row .fleld:after{ position:relative;}
/*************Thank You********/
.thankyou {width:100%; margin-bottom:40px; float:none;}
.image-thankyou{ width: auto; max-width:100%;height:auto; margin-right:0px; position:relative; float:none; margin:0px auto; display:block;}
}
@media (max-width:700px) {
/*************Cart********/	 
.col-form{width:100%;}
    
    

}
@media screen and (max-width:640px) {
/*	 .news-block .news-text .news-top{ background:#c1eec1;} */
}
@media screen and (max-width:650px) {
/*************Product Detail********/ 	
.detail_left {width:100%;}
.detail_right {width:100%; margin-top:40px;}
  

    

}
@media screen and (max-width:600px) {
/*************Home********/
.banner-caption article {font-size:18px;line-height: 31px;}
.banner-caption a {font-size: 11px;line-height: 16px;padding: 12px 14px;}
.Achievements article {min-height: 96px;}  
/*************Product Listing********/
.bx-product {width: 45%; margin-right:3%;}
}
@media screen and (max-width: 580px) {
/*************Home********/	
.Keyword-search {width: 200px;}
.news-block .news-text .news-info article {height: 71px;}
    

}
@media screen and (max-width: 560px) {
/*************Home********/
.header figure{ width:100%; text-align:center;}
.nav-wrap{ width:100%; background:#423f3f;}
.nav-wrap .cart-top span{ color:#FFF !important;}
.top-search { width:100%;}
.Keyword-search{ float:right;}
.banner-caption article{ width:100%;}
.product-box figure figcaption h2,.product-box article h2{font-size:16px;line-height:16px;}
.product-box figure figcaption h3,.product-box article h3{ font-size:14px;}
}
@media screen and (max-width: 500px) {
/*************Home********/ 
.readmore{ margin-top:5px;}
/*************Contact********/
 .contact-wrap .Enquire-form .form-row{ padding-left:128px; margin-bottom:10px;}
  .contact-wrap .Enquire-form .form-row .fleld{ position: absolute; width:100px;}
  .contact-wrap .Enquire-form .form-row .fleld:after{ position:absolute;}
   .contact-wrap .Enquire-form{ width:100%;}
.contact-right{ width:100%; margin-top:30px;}


}
@media screen and (max-width:480px) {
/*************Cart********/
.cart-row figure{ width:20%;}
.cart-row figure img{ width:100%; height:auto;}
.cart-row .Enquiry{ padding-left:23%;}
}
@media screen and (max-width:414px) {
.banner-caption article {font-size:14px;line-height:20px;}
.banner-caption a {font-size:10px;line-height:14px;padding:8px 12px;}
.product-box {width:100%;margin-left:0%;margin-right:0%;}       
.top-Rated-product {margin-left:0;margin-right:0;}
/*.product-overview .view {position: absolute;}	*/
.news-block .news-text,.news-block figure {width:100%;}
.news-block .news-text .news-info article{ height:auto;}
.news-block .news-text{ padding-bottom:25px;}
.readmore{ margin-top:18px;}
.top-search{ position:relative; padding-left:140px; box-sizing:border-box; -box-sizing:border-box; -webkit-box-sizing:border-box;}
.General-Search{ position:absolute; left:0px; margin-left:0px;}
.Keyword-search {width: 100%;}
    


/*************Product Detail********/ 	
.continue, .addto_enquire {width: auto; padding: 16px 15px;}
/*************News********/ 	
.news-row figure { width:100%; float:none;}
/*.news-row figure img{ width:100%; height:auto;}*/
.news-row figure+.news-info{padding-left:0px; padding-top:15px;}
	
	 

}
@media screen and (max-width:400px) {
/*************home********/
.Achievements{ margin-right: 13px;}
/*************Product Listing********/
.listing-wrap{ margin-right:0;}
.bx-product {width:100%; margin-right:0%;}
.pagen-wrap{ float:none; width:194px; margin:0px auto;}
/*************Cart********/
 .cart-row figure{ position:relative; width:45%; margin-bottom:10px;}
 .cart-row .Enquiry{padding-left:0px;}
 .cart-row h2 {margin-bottom: 14px;}
}
@media screen and (max-width: 320px) {
/*.Keyword-search {width: 183px;}*/
}
@media screen and (max-width: 320px) {
/*************home********/

.banner-caption article {font-size:12px;line-height:20px;} 
.banner-caption a {margin-top:8px;}  
/*************Product Detail********/ 
 .continue, .addto_enquire{width:100%; padding: 16px 0px; margin-bottom:10px;}
/*************Cart********/  
 .Enquire-form .form-row{ padding-left:0px; margin-bottom:10px;}
 .Enquire-form .form-row .fleld{ position:relative; width:100%;}
 .Enquire-form .form-row .fleld:after{ position:relative;}

/*************Contact********/  
  .contact-wrap .Enquire-form .form-row{ padding-left:0px; margin-bottom:10px;}
  .contact-wrap .Enquire-form .form-row .fleld{ position:relative; width:100%;}
  .contact-wrap .Enquire-form .form-row .fleld:after{ position:relative;}


}
@media screen and (max-width:240px) {
}
