@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
	display: block;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'latoregular';
	font-size:14px;
	font-weight: normal;
	color: #777777;/*width:1300px;*/
	background: #FFF;
}
.Over_flow {
	overflow: hidden;
	position: relative;
}
.container {
	margin: 0px auto;
	max-width:1148px;
	position: relative;
}
.container-fluid {
	display: block;
	margin: 0 24px;
	position: relative;
}
.carve-top {
	background: url(../images/carve-top.png) center top no-repeat;
	padding-top: 97px;
}
.carve-bottom {
	background: url(../images/carve-bottom.png) center bottom no-repeat;
	padding-bottom: 97px;
}
/**********************RESET TOOLS**********************/
p, ul, ol, h1, h2, h3, h4, h5, h6, dd, form, input, textarea, select, img, blockquote, label {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
* {
	outline: 0px;
}
a {
	color: #ff0000;
	text-decoration: none;/*	-webkit-transition:all 0.5s;
-moz-transition:all 0.5s;
transition:all 0.5s;*/
}
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	border: 1px solid #737373;
	color: #FFF;
	background: #737373;
}
a:hover {
	color: #777;
	text-decoration: none;
}
.clear {
	clear: both;
}
.clear_12 {
	clear: both;
	height: 12px;
}
.clear_18 {
	clear: both;
	height: 18px;
}
.clear_44 {
	clear: both;
	height: 44px;
}
.clear_30 {
	clear: both;
	height: 30px;
}
.clear_36 {
	clear: both;
	height: 36px;
}
.clear_84 {
	clear: both;
	height: 84px;
}
.clear_106 {
	clear: both;
	height: 106px;
}
.clear_124 {
	clear: both;
	height: 121px;
	display: block;
}
.clear_02 {
	clear: both;
	height: 2px;
	display: block;
}
.clear_12none {
	clear: both;
	height: 12px;
	display: none;
}
.right {
	float: right!important;
}
.left {
	float: left!important;
}
.No_Border {
	border: none !important;
}
.text-align {
	text-align: justify;
}
.clear_left {
	clear: left !important;
}
.clear_right {
	clear: right !important;
}
.style-03 {
	color: #1d3fa6;
}
/******************Header**************/
.header-wrap{
	 display:block;
	 background:#FFF;
	 position:relative;
}
.header-wrap .shado{
	 display:block;
	 position:absolute;
	  width:100%;
	   height:7px;
	   bottom:0px;
	   margin-bottom:-7px;
	   background:url(../images/shado.png) left bottom repeat-x;
	   z-index:10;
}
.head-top{
	 display:block;
	 background:#ff0000;
	  color:#FFF;
	  height:35px;
}
.top-search{
	float:left;
	 display:inline-block;
}
.General-Search {
	position: relative;
	background: #423f3f;
	height:35px;
	 width:140px;
	 float:left;


}
.General-Search:after {
	content: "\f0dd";
	display: inline-block;
	font-family: 'FontAwesome';
	font-size:15px;
	width:28px;
	height:35px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #423f3f;
	text-align: center;
	line-height:28px;
	color:#FFF;
}
.General-Search select {
	background: none;
	width: 100%;
	height:35px;
	position: relative;
	z-index: 10;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size:13px;
	color:#FFF;
	padding-left: 5px;
}
.General-Search select option{
	background: #423f3f;
	line-height:20px;
}
.Keyword-search{
	float:left;
	 width:221px;
	 border-left:1px solid #FFF;
	 border-right:1px solid #FFF;
	 height:35px;
	 position:relative;
	 padding-right:35px;
	 box-sizing:border-box; 
	 -box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
}
.Keyword-search button[type="submit"]{
	 position:absolute;
	  right:0px;
	  margin-right:0px;
	  top:0px;
	  margin-top:0;
	  border:none;
	  cursor:pointer;
	  width:35px;
	  height:35px;
	  background:url(../images/search.jpg) no-repeat;
	  text-indent:-9999px;
}
.Keyword-search input[type="text"]{
	 width:100%;
	 height:35px;
	 line-height:35px;
	 	 box-sizing:border-box; 
	 -box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	 border:none;
	 background: #bf0000;
	 color:#FFF;
	 padding-left:8px;
	  font-size:13px;
	  line-height:35px;
}
.cart-top{
	 display:inline-block;
	 float:right;
	 height:35px;
	 background:#423f3f;
	  border-left:1px solid #FFF;
	 border-right:1px solid #FFF;
	 line-height:35px;
	  font-size:13px;
}
.cart-top a{
	 display:inline-block;
	 position:relative;
	 padding-right:37px;
	  color:#FFF;
	  padding-left:18px;
}
.cart-top a:hover{
	  color:#ff0000;
	
}
.cart-top a i{
	position:absolute;
	 right:0px;
	 margin-right:18px;
	  line-height:35px;
	  display:inline-block;
}
.cart-top span{
	 display:inline-block;
	  width:40px;
	  text-align:center;
	   border-left:1px solid #FFF;
}
.header{
	 display:block;
	 padding-top:19px;
	 padding-bottom:20px;
}

.header figure{
	 display: inline-block;
	 float:left;
}
.header figure img{
	max-width:100%;
	height:auto;
	vertical-align:bottom;
}
.nav-wrap{
	float:right;
	 display:inline-block;
	 margin-top:11px;
}

.banner-wrap{
	 display:block;
	 position:relative;
}
.welcome{
	 display:block;
	  background: url(../images/welcome-bg.jpg) no-repeat;
	  background-size:100% 100%;
	   color:#FFF;
	    font-size:15px;
		line-height:24px;
		padding-top:36px;
		padding-bottom:45px;
}
.welcome h2{
	 display:block;
	  font-size:40px;
	  line-height:40px;
	   font-weight:normal;
	    font-family: 'latobold';
		margin-bottom:16px;
	 
}
/********************Body**********/
.body-wrap{
	padding-top:25px;
}
.product-overview{
	 display:block;
	 position:relative;
	 padding-top:20px;
	 padding-bottom:50px;

}
.product-overview hgroup{
	 display:block;
	  width:100%;
	  text-align:center;
	  position: relative;
	  padding-bottom:18px;
	  margin-bottom:50px;
}
.product-overview hgroup h2{
	display:block;
	  font-size:40px;
	  line-height:40px;
	   font-weight:normal;
	    font-family: 'latobold';
		margin-bottom:0px;
		 color:#2c3e50;
		 margin-bottom:10px;
}

.product-overview hgroup h3{
	 font-weight:normal;
	 color:#747474;
	  font-size:15px;
	  line-height:24px;
}
.product-overview hgroup:after{
	 width:132px;
	 height:1px;
	 background:#ff0000;
	 position:absolute;
	 bottom:0px;
	 margin-bottom:0px;
	 content:"";
	 left:50%;
	 margin-left:-66px;
}
.top-Rated-product{
	 display:block;
	 position:relative;
	 margin-left:-6.5px;
	 margin-right:-6.5px;
	
}
.product-box{
	 display:block;
	 float:left;
	  width:374px;
	  position:relative;
	  overflow:hidden;
	  margin-left:6.5px;
	  margin-right:6.5px;
	   margin-bottom:24px;
}
.product-box figure{
	 display:block;
	 border:1px solid #c1c1c1;
	 position:relative;
}
.product-box figure img{ width:372px;
height:384px;
vertical-align:bottom;
}
.product-box figcaption {
	-webkit-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	-o-transition-duration: 0.9s;
	transition-duration: 0.9s;
}
.product-box:hover figcaption {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.product-box figure figcaption{
	position: absolute;
	 width:100%;
	 bottom:0px;
	 margin-bottom:0px;
	 background:#ae0c0c;
	  display:block;
	   color:#FFF;
	   box-sizing:border-box; 
	   -moz-box-sizing:border-box; 
	   -webkit-box-sizing:border-box;
	   padding-left:14px;
	   padding-top:10px;
	   padding-bottom:16px;
}
.product-box figure figcaption h2{
	  font-size:21px;
	   font-family: 'latobold';
	    display:block;
		line-height:21px;
		margin-bottom:2px;

}
.product-box figure figcaption  h3{
	  display:block;
	   font-weight:normal;
	    font-size:17px;
}

.product-box article{
	 display:block;
	 text-align:center;
	 padding-top:16px;
	 -webkit-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	-o-transition-duration: 0.9s;
	transition-duration: 0.9s;
	min-height:55px;
} 
.product-box:hover article{
	 -webkit-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);
}

.product-box article h2{
	 color:#242424;
	  font-size:21px;
	   font-family: 'latobold';
	    display:block;
		line-height:21px;
		margin-bottom:2px;
}
.product-box article h3{
	 color:#959595;
	  display:block;
	   font-weight:normal;
	    font-size:17px;
}
.product-box article a.view{
	 display:none;
}
.product-overview .view{
	 font-family: 'robotolight';
	 font-size:13px;
	 text-transform:uppercase;
	  color:#FFF;
	   display:inline-block;
	   border:1px solid #FFF;
	   	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:13px;
	 width:88px;
	 text-align:center;
	 position:absolute;
	 right:0px;
	 margin-right:11px;
	 top:0px;
	 margin-top:19px;
	 padding:7px 0;	 
}
.product-overview .view:hover{
	 color:#fff ;
	  border:1px solid #FFF ;
	  background:#F00;
}
.link-wrap{
	 display:block;
	 text-align:center;
}
.view-all{
	font-family: 'latoblack';
	 font-size:16px;
	 text-transform:uppercase;
	  color:#ff0000;
	   display:inline-block;
	   border:1px solid #ff0000;
	   	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:16px;
	 text-align:center;
	 padding:16px 18px;
}
.view-all:hover{color:#000;
border:1px solid #000;
}
.news-carusel{
	padding-bottom:40px;
}
.latest-news{
	 display:block;
	 background:url(../images/news-bg.jpg) center top no-repeat;
	 background-size:100% 100%;
	 padding-bottom:49px;
	 padding-top:47px;
}

.latest-news hgroup{
	 display:block;
	  width:100%;
	  text-align:center;
	  position: relative;
	  padding-bottom:18px;
	  margin-bottom:40px;
}
.latest-news hgroup h2{
	display:block;
	  font-size:40px;
	  line-height:40px;
	   font-weight:normal;
	    font-family: 'latobold';
		margin-bottom:0px;
		 color:#2c3e50;
		 margin-bottom:10px;
}

.latest-news hgroup h3{
	 font-weight:normal;
	 color:#747474;
	  font-size:15px;
	  line-height:24px;
}
.latest-news hgroup:after{
	 width:132px;
	 height:1px;
	 background:#ff0000;
	 position:absolute;
	 bottom:0px;
	 margin-bottom:0px;
	 content:"";
	 left:50%;
	 margin-left:-66px;
}
.news-block{
	background:#FFF;
}
.news-block .news-text{
	float:left;
	 width:50%;	
}
.news-block figure{
	float:right;
	 width:50%;	
}
.news-block figure img{
	max-width:100%;
	height:auto;
	vertical-align:bottom;
}
.news-block .news-text .news-top{
	padding:0 31px;
	border-bottom:1px solid #e6e6e6;
	 font-size:14px;
	 padding-top:25px;
	 padding-bottom:7px;
	  color:#595959;
}

.news-block .news-text .news-info{
	padding:0 31px;
	 font-size:14px;
	 padding-right:11px;
	 line-height:22px;
	  color:#777777;
	  padding-top:23px;
	  

}
.news-block .news-text .news-info article{
	 display:block;
	 height:110px;
	 overflow:hidden;
}
.news-block .news-text .news-top h2{
	 display:block;
	 font-family: 'latobold';
	  font-size:18px;
	  line-height:18px;
	  line-height:24px;
	  margin-bottom:5px;
	 
	  
}
.readmore{
	 font-family: 'robotolight';
	 font-size:13px;
	 text-transform:uppercase;
	  color:#ff0000;
	   display:inline-block;
	   border:1px solid #ff0000;
	   	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:13px;
	 text-align:center;
	 padding:8px 14px;
	 margin-top:22px;	 
}
.latest-news .view-all{
	font-family: 'latoblack';
	 font-size:16px;
	 text-transform:uppercase;
	  color:#fff;
	   display:inline-block;
	   border:1px solid #fff;
	   	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:16px;
	 text-align:center;
	 padding:16px 18px;
}
.latest-news .view-all:hover{color:#000;
border:1px solid #000;
}
.home-Achievements{
	 display:block;
	 padding-top:44px;
	 padding-bottom:50px;
}
.home-Achievements hgroup{
	 display:block;
	  width:100%;
	  text-align:center;
	  position: relative;
	  padding-bottom:18px;
	  margin-bottom:50px;
}
.home-Achievements hgroup h2{
	display:block;
	  font-size:40px;
	  line-height:40px;
	   font-weight:normal;
	    font-family: 'latobold';
		margin-bottom:0px;
		 color:#2c3e50;
		 margin-bottom:10px;
}

.home-Achievements hgroup h3{
	 font-weight:normal;
	 color:#747474;
	  font-size:15px;
	  line-height:24px;
}
.home-Achievements hgroup:after{
	 width:132px;
	 height:1px;
	 background:#ff0000;
	 position:absolute;
	 bottom:0px;
	 margin-bottom:0px;
	 content:"";
	 left:50%;
	 margin-left:-66px;
}
.carusel-Achievements{
	 display:block;
}
.Achievements{
	 display:block;
	  color:#ffffff;
	   font-size:16px;
	   margin-right:13px;
	  
}
.Achievements figure{
	 display:block;
	 border:1px solid #c1c1c1;
	 position:relative;
	 overflow:hidden;
}
.Achievements figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0xp;
    top: 0px;
    margin-left: 0px;
    margin-top: 0px;
    color: #FFF;
}
.Achievements figure figcaption:before{
	content:"";
	display:block;
	width:100%;
	height:100%;
	background:#ae0c0c;
	opacity:0.8;
	left:0px;
	top:0px;
}
.Achievements figure figcaption .view {
    font-family: "robotolight";
    font-size: 13px;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 3px;
    line-height: 13px;
    width: 90px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 50%;
    margin-top: -14.5px;
    padding: 7px 0px;
    box-sizing: border-box;
}
.Achievements figure figcaption{-webkit-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	-o-transition-duration: 0.9s;
	transition-duration: 0.9s;
}
.Achievements:hover figcaption {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.Achievements figure img{
	 width:372px;
	 height:248px;
	 vertical-align:bottom;
}
.Achievements article{
	 display:block;
	 background:#ae0c0c;
	 font-family: 'latolight';
	  font-size:16px;
	  line-height:20px;
	  text-align:center;
	  padding:0 41px;
	  padding-top:9px;
	  padding-bottom:7px;
	  box-sizing:border-box; 
	  -moz- box-sizing:border-box; 
	  -webkit- box-sizing:border-box;
	  min-height:56px;
}
.locator{
	 display:block;
	 background:#3b3b3b url(../images/locket-bg.jpg) right top no-repeat;
	 background-size:100% ;
	 font-family: 'latobold';
	  font-size:36px;
	   color:#FFF;
	   padding-top:40px;
	   padding-bottom:40px;
}
.locator span.style-01{
	float:left;
	 display:inline-block;
	 line-height:50px;
}
.locator .select-location{
	float:left;
	 width:350px;
	 background:#949494;
	 border:1px solid #FFF;
	 box-sizing:border-box; 
	  -moz- box-sizing:border-box; 
	  -webkit- box-sizing:border-box;
	  height:50px;
	  padding:1px;
	   	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	margin-left:31px;
	max-width:100%;
	
}
.locator .select-location:after {
	content: "";
	display: inline-block;
	font-family: 'FontAwesome';
	font-size:15px;
	width:49px;
	height:48px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(../images/locate.jpg) no-repeat;
	text-align: center;
	line-height:28px;
	color:#FFF;
}
.locator .select-location select {
	background: none;
	width: 100%;
	height:48px;
	position: absolute;
	z-index: 10;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size:20px;
	color:#FFF;
	padding-left:0px;
	font-family: 'latolight';
	line-height:30px;
	margin-top:0px;
	padding-left:14px;
}
.locator .select-location select option{
	background: #423f3f;
	line-height:20px;
}

.footer-wrap{
	 display:block;
	 background:#ff0000;
	  color:#FFF;
	  font-family: 'robotoregular';
	   font-size:12px;
	   padding-top:15px;
	   padding-bottom:19px;
}
.footer-wrap small{
	 display:block;
	 float:left;
	  font-size:12px;
}

.footer-wrap a{
	 color:#FFF;
}
.footer-wrap a:hover{
	 color:#000;
}
.footer-wrap aside{
	float:right;
	
}
.footer-wrap aside img{
	vertical-align:middle;
	margin-left:5px;
}
.banner-caption{
	position:absolute;
	width:100%;
	top:0px;
	margin-top:0px;
	color:#4d7a16;
	font-family: 'robotomedium';
	margin-top:7.5%;

	
}
.banner-caption article{
	 display:block;
	  font-size:45px;
	  line-height:50px;
	   width:690px;
}
.banner-caption a{
	 display:inline-block;
	  font-size:16px;
	  line-height:16px;
	  text-transform:uppercase;
	  color:#FFF;
	  font-family: 'latoblack';
	  background:#423f3f;
	  border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:17px 25px;
	margin-top:39px;
}
.banner-caption a:hover{
	background:#ff0000;
}
.popup-with-form{
	position:absolute;
	display:block;
	z-index:100;
	background: url(../images/locate.jpg) no-repeat;
	 width:49px;
	 height:48px;
	 right:0px;
	 margin-right:0px;
	 text-indent:-99999px;
}
.popup-title{
	 font-size:22px;
	 line-height:22px;
	 font-weight:normal;
	 font-family: 'latolight';
	 color:#FFF;
	 text-transform:uppercase;
	 margin-top:1px;
	 margin-bottom:13px;
}

.row-location{
	 display:block;
	  color:#777777;
	   font-size:14px;
	   line-height:18px;
	   padding-bottom:5px;
	   margin-left:11px;
}
.row-location+.row-location{
	border-top:1px solid #efefef; 
	padding-top:35px;
	}

.row-location .field-row{
	 display:block;
	 position:relative;
	 padding-left:152px;
	 margin-bottom:35px;
}

.row-location .field-row .field{
	position:absolute;
	left:0px;
	top:0px;
	margin-left:0px;
	 width:98px;
}
.row-location .field-row .field:after{
	content:":";
	position:absolute;
	right:0px;
	margin-right:0px;
}
.locket-wrap{
	padding-top:16px;
}
/****************/
.page-with-banner{
	padding-top:20px;
	padding-bottom:80px;
}
.left-menu{
	float:left;
	 width:266px;
	 background:#fdfdfd;
	/* background:#000;*/
	 border:1px solid #f8f8f8;
	 padding:13px 19px;
	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	 margin-top:2px;
}
.left-menu h2{
	 color:#2c3e50;
	  font-size:16px;
	  font-family: 'latobold';
	  text-transform:uppercase;
	  position:relative;
	  line-height:16px;
	  padding-bottom:21px;
	  margin-bottom:30px;
}
.left-menu h2:before{
	 content: "";
		  font-family: 'FontAwesome';
		  color:#676767;
		  position:absolute;
		   width:23px;
		   height:1px;
		   background:#999999;
		  left:0px;
		  margin-left:0;
		   bottom:0px;
		   margin-bottom:0px;
	
}
.left-menu h2 i{
	 display:block;
	 position:absolute;
	 background:url(../images/left-click.png);
	  width:18px;
	  height:10px;
	   right:0px;
	   top:0px;
	   margin-top:4px;
	   
}

.left-menu h2 i.click{
	 display:none;
	 cursor:pointer;
}
.right-col{
	float:right;
	 width:854px;
}
.bred-camb{
	 display:block;
	  font-size:12px;
	    color:#ff0000;
		margin-bottom:23px;
}

.bred-camb a{
	 display:inline-block;
	  color:#747474;
	   font-weight:normal;
}
.bred-camb a:hover{
	 color:#ff0000;
}
.bred-camb .seprster{
	 color:#747474;
	 font-weight:normal;
	  display:inline-block;
	  margin:0 5px;
}
/***************Pagin*************/
.pagen-wrap{
	float:right;
	border:1px solid #dbdbdb;
	border-radius:3px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	overflow:hidden;
	background:#fbfbfb;
	

}
.pagein ul {
	display: block;
	font-size:12px;
	text-align:center;

	
}
.pagein ul li {
	display: inline-block;
	float:left;
}
.pagein ul li + li {
	border-left:1px solid #dbdbdb;
	
}
.pagein ul li a {
	color: #989495;
	display: block;
	width:38px;
	height:34px;
	text-align: center;
	line-height:34px;
	
}
.pagein ul li a:hover, .pagein ul li a.active {
	background:#ff0000;
	color: #FFF !important;
}
.pagein ul li.pre {
	margin-right:0px;
	
}
.pagein ul li.nex {
	margin-left:0px;
	
}
.pagein ul li.pre a{
	
	color: #707070;
	
	padding-left:0px;
	
}
 .pagein ul li.nex a {
	
	color: #707070;
		padding-right:0px;
	
	
}
.pagein ul li.pre a:hover, .pagein ul li.nex a:hover {
	background:#ff0000;
	color: #FFF !important;
}
.pagein ul li.pre a:before {
	    content: "\f0d9";
	 font-family: 'FontAwesome';
	font-size:18px;
	display: inline-block;
	
}
.pagein ul li.nex a:after {
	 font-family: 'FontAwesome';
	 content: "\f0da";
	font-size:18px;
	display: inline-block;
	
	
}
h2.page-title{ color:#2c3e50;
 display:block;
  font-size:40px;
  line-height:40px;
  font-family: 'latobold';
  position:relative;
  padding-left:10px;
  border-bottom:1px solid #efefef;
  padding-bottom:7px;
  margin-bottom:20px;
}
h2.page-title:before {
	    content: "";
		position:absolute;
		width:5px;
		height:29px;
		background:#ff0000;
		 display:block;
		 left:0px;
		 margin-left:0px;
		 top:0px;
		 margin-top:5px;
		}
.listing-wrap{
	padding-top:20px;
	position:relative;
	margin-right:-28px;
}
.bx-product{
	float:left;
	width:266px;
	overflow:hidden;
	margin-bottom:56px;
	cursor:pointer;
	margin-right:28px;
}
.bx-product h2{
	font-size:18px;
	line-height:18px;
	font-family: 'latobold';
	text-align:center;
	
}
.bx-product	figure{
	 display:block;
	 border:1px solid #c1c1c1;
	 position:relative;
}
.bx-product	figure img{
	 width:264px;
	 height:268px;
	 vertical-align:bottom;
}

.bx-product	figure figcaption{
	position:absolute;
	 width:100%;
	 height:100%;
	  display:block;
	  left:0xp;
	  top:0px;
	  margin-left:0px;
	  margin-top:0px;
	  color:#FFF;

}
.bx-product	figure figcaption:before{
	content:"";
	display:block;
	width:100%;
	height:100%;
	background:#ae0c0c;
	opacity:0.8;
	left:0px;
	top:0px;
}
.bx-product	figure h2{
	position:absolute;
	 width:100%;
	 bottom:0px;
	 margin-bottom:0px;
	 left:0px;
	 margin-left:0;
	 background:#ae0c0c;
	 padding-top:15px;
	 padding-bottom:14px;
	 -webkit-transform: translateX(500px);
	-ms-transform: translateX(500px);
	transform: translateX(500px);
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	-o-transition-duration: 0.9s;
	transition-duration: 0.9s;
	color:#FFF;
}
.bx-product .view{
	 font-family: 'robotolight';
	 font-size:13px;
	 text-transform:uppercase;
	  color:#FFF;
	   display:inline-block;
	   border:1px solid #FFF;
	   	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:13px;
	 width:90px;
	 text-align:center;
	 position:absolute;
	 left:50%;
	 margin-left:-45px;
	 top:50%;
	 margin-top:-39px;
	 padding:7px 0;	 
	 	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
}
.bx-product .view:hover,.Achievements figure figcaption .view:hover{
	 color:#FFF;
	  border:1px solid #FFF;
	  background:#ff0000;
}
.bx-product article{
	 display:block;
	  color:#242424;
	  
}
.bx-product article h2{
	margin-top:16px;
}
.bx-product	figure figcaption{-webkit-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	-o-transition-duration: 0.9s;
	transition-duration: 0.9s;
}
.bx-product:hover figcaption {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.bx-product:hover figure h2 {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}


.bx-product article{
	 display:block;
	 text-align:center;
	 -webkit-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	-o-transition-duration: 0.9s;
	transition-duration: 0.9s;
	
} 
.bx-product:hover article{
	 -webkit-transform: translateX(-500px);
	-ms-transform: translateX(-500px);
	transform: translateX(-500px);
}
.pagin-bottom{ border-top:1px solid #efefef;
margin-top:25px;
padding-top:20px;
}

/******************Detail***********/
.detail_wrap{
	padding-bottom:63px;
}
.detail_left{
	float:left;
	 width:364px;
	 margin-top:6px;
}
.detail_left .view_image{ border:1px solid #c1c1c1;
}
.detail_left .view_image img{
	 width:362px;
	 height:362px;
	 vertical-align:bottom;
}
.detail_right{
	float:right;
	 width:756px;
	 margin-top:1px;
}
.detail_right h2.page-title{
	padding-left:0px;
	padding-bottom:15px;
	
}
.detail_right h2.page-title:before{
	 display:none;
}
.Description{
	 display:block;
	 color:#777777;
	 line-height:30px;
	 padding:22px 30px;
	 padding-bottom:48px;

}

.product-info{
	 display:block;
	 padding-top:21px;
}
.product-info ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.product-info ul li{
	 display:block;
	 position:relative;
	 padding-left:78px;
	 line-height:28px;
	 margin-bottom:14px;
}
.product-info ul li span{
	 display:block;
	 position:absolute;
	 left:0px;
	 margin-left:0px;
	 font-family: 'latobold';
	  font-size:16px;
	 
}
.product-info .select-model{
	 width:186px;
	 height:28px;
	 position:relative;
	 border:1px solid #dbdbdb;
	  border-radius:3px  ; 
	-moz-border-radius:3px  ; 
	-webkit-border-radius:3px  ; 
		 	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;

}
.product-info .select-model:after {
	content: "";
	display: inline-block;
	font-family: 'FontAwesome';
	font-size:15px;
	width:26px;
	height:26px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(../images/arrow-model.png) no-repeat;
	text-align: center;
	line-height:28px;
	color:#FFF;
}
.product-info .select-model select {
	background: none;
	width: 100%;
	height:26px;
	position: absolute;
	z-index: 10;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size:14px;
	color:#777777;
	padding-left:0px;
	 font-family: 'latoregular';
	line-height:26px;
	margin-top:0px;
	padding-left:7px;
}

.specifications{
	 display:block;
	 line-height:30px;
	  color:#777777;
	  padding:22px 30px;
	  padding-bottom:21px;
}
.specifications ul{
	 margin:0px;
	 padding:0px;
	 list-style:none;

}
.specifications ul li{
	position:relative;
	padding-left:16px;
	margin-bottom:2px;
}
.specifications ul li:before{
	content: "\f111";
	  font-family: 'FontAwesome';
	  left:0px;
	  top:0px;
	  margin-left:0px;
	  margin-top:0px;
	   font-size:7px;
	   position:absolute;
}
.continue,.addto_enquire, a.button{
	 display:inline-block;
	 font-family: 'latoblack';
	  font-size:16px;
	  line-height:16px;
	  	  border-radius:3px  ; 
	-moz-border-radius:3px  ; 
	-webkit-border-radius:3px  ;
	padding:16px 0px;
	 width:184px;
	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	 cursor:pointer;
	 
}
.continue,.addto_enquire:hover,.Enquire-form button[type="submit"]:hover{
	border:1px solid #737373;
	color:#FFF;
	background:#737373;
}
.addto_enquire,.continue:hover{border:1px solid #ff0000;
	color:#ff0000;
	background:#FFF;
}
.btn-wrap{
	 display:block;
	 padding-top:57px;
}
.Take-Look{ display:block;
}
.Take-Look h3{
	 color:#2c3e50;
	  font-size:25px;
	   display:block;
	   font-family: 'latobold';
	    border-bottom:1px solid #efefef;
		line-height:25px;
		padding-bottom:16px;
		margin-bottom:21px;

}
.video{
	 display:block;
	  width:658px;
}
.video iframe{
	 display:block;
	  width:100%;
	  vertical-align:bottom;
	  height:350px;
}
/******************************Cart**********/
.cart-row{
	display:block;
	margin-top:6px;
	float:left;
	width:100%;


}
.cart-row h2{
	 display:block;
	 color:#777777;
	  font-size:18px;
	   font-family: 'latobold';
	   margin-bottom:24px;
}
.cart-row .Enquiry{
	 display:block;
	 	position:relative;
	padding-left:170px;
	padding-right:30px;
}

.cart-row .Enquiry strong{
font-family: 'latobold';
 display:block;
}

.cart-row figure{
	 display:block;
	 position:absolute;
	  width:148px;
	  left:0px;
	  margin-left:0;
	  border:1px solid #c1c1c1;
	  margin-top:3px;
}
.cart-row figure img{
	 width:148px;
	 height:128px;
	 vertical-align:bottom;
}
.cart-info{
	 display:block;
	 line-height:22px;
}
.cart-row .product-info {
    display: block;
    padding-top:16px;
}
.cart-row .delete{
	position:absolute;
	right:0px;
	margin-right:0px;
	top:0px;
	margin-top:3px;
	color:#FFF;
	text-align:center;
	line-height:20px;
	 font-size:11px;
}
.cart-row .delete a{color:#FFF;
background:#9ca0a2;
 display:block;
  width:20px;
	 height:20px;
	 border-radius:100px  ; 
	-moz-border-radius:100px  ; 
	-webkit-border-radius:100px  ;
		 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	 padding-left:0.5px;
}
.cart-row .delete a:hover{background:#ff0000;
}
.cart-row+.cart-row{
	border-top:1px solid #efefef;
	margin-top:16px;
	padding-top:27px;
}

.Enquire-Now{
	 display:block;
	 margin-top:55px;
	  float:left;
	   width:100%;

}
.Enquire-Now h3{
	 color:#2c3e50;
	  font-size:25px;
	  line-height:25px;
	  font-family: 'latobold';
	   display:block;
	   border-bottom:1px solid #efefef;
	   padding-bottom:9px;
	   margin-bottom:29px;
	   
}
.Enquire-form {
	 display:block;
	 font-size:14px;
	  color:#777777;
}
.Enquire-form .form-row{
	 display:block;
	 position:relative;
	 padding-left:128px;
	 margin-bottom:20px;
	 	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
}
.Enquire-form .form-row .fleld{
	position:absolute;
	left:0px;
	margin-left:0px;
	 display:inline-block;
	  width:100px;
	  line-height:33px;
}
.Enquire-form .form-row .fleld:after{
	 content:":";
	 position:absolute;
	 right:0px;
	 margin-right:0;
	
}
.req{
	 color:#ff0000;
}

.Enquire-form input[type="text"],.Enquire-form input[type="tel"],.Enquire-form input[type="email"]{
	 width:100%;
	 height:33px;
	 border:1px solid #c4c4c4;
	 padding:0 5px;
	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	  font-family: 'latoregular';
	   font-size:14px;
	   line-height:33px;
	   color:#777777;
	   	 border-radius:1px  ; 
	-moz-border-radius:1px  ; 
	-webkit-border-radius:1px  ;
}
.Enquire-form select{
	 width:100%;
	 height:33px;
	 border:1px solid #c4c4c4;
	 padding:0 5px;
	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	  font-family: 'latoregular';
	   font-size:14px;
	   line-height:33px;
	   color:#777777;
	   	 border-radius:1px  ; 
	-moz-border-radius:1px  ; 
	-webkit-border-radius:1px  ;
}

.Enquire-form input[type="text"]:focus,.Enquire-form input[type="tel"]:focus,.Enquire-form input[type="email"]:focus,.Enquire-form select:focus,.Enquire-form textarea:focus,.Enquire-form textarea:hover,.contact-wrap .Enquire-form textarea:focus{
	border:1px solid #ffb2b2;
}

.Enquire-form textarea{
	 width:100%;
	 height:85px;
	 border:1px solid #c4c4c4;
	 padding:0 5px;
	 box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	  font-family: 'latoregular';
	   font-size:14px;
	   line-height:33px;
	   color:#777777;
	   	 border-radius:1px  ; 
	-moz-border-radius:1px  ; 
	-webkit-border-radius:1px  ;
	resize:none;
}

.Enquire-form button[type="submit"]{
	float:right;
	 display:inline-block;
	 font-size:14px;
	 line-height:14px;
	 text-transform:uppercase;
	 border:1px solid #ff0000;
	 	 border-radius:3px  ; 
	-moz-border-radius:3px  ; 
	-webkit-border-radius:3px  ;
	background:#FFF;
	 color:#ff0000;
	 cursor:pointer;
	 padding:9px 14px;
}
.col-form{
	float:left;
	 width:540px;
}
.col-form+.col-form{
float:right;
}
.accordion .inner a{
	text-decoration:underline;
}
.accordion .inner a:hover{
	text-decoration:none;
}
.service{
	padding-top:9px;
}
/********************Locator*************/
.Dealer-Locator{
	padding-top:10px;
}
.location{
	float:left;
	 width:658px;
	 position:relative;
	 	 border-radius:4px  ; 
	-moz-border-radius:4px  ; 
	-webkit-border-radius:4px  ;
	overflow:hidden;
}
.location img{
	  width:658px;
	 height:450px;
	 vertical-align:bottom;
}

.location-info{
	float:right;
	 width:462px;
	  box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	 border-radius:4px  ; 
	-moz-border-radius:4px  ; 
	-webkit-border-radius:4px  ;
	background:#ececec;
	padding:4px;
}
.location-info h2{
	 font-size:20px;
	 line-height:20px;
	 color:#6e6e6e;
	  font-weight:normal;
	  font-family: 'robotoregular';
	  text-transform: uppercase;
	  margin-top:10px;
	  margin-bottom:20px;
}
.location-info address{
	 display:block;
	 font-style:normal;
	  font-family: 'robotoregular';
	  font-size:13px;
	   color:#6e6e6e;
	   line-height:18px;
	   padding-bottom:18px;
}
.location-info address h3{
	 font-size:13px;
}
.location .ImageList{
	position:absolute;

}

/*************Latest News*********/
.news-row{
	 display:block;
	 position:relative;
	 padding-bottom:47px;
}
.news-row figure{
	float:left;
	 display:inline-block;
	 margin-top:2px;
}
.news-row figure img{
	 width:150px;
	 height:130px;
	 vertical-align:bottom;
	 border-radius:2px  ; 
	-moz-border-radius:2px  ; 
	-webkit-border-radius:2px  ;
}
.news-row figure+.news-info{
	padding-left:171px;
	 color:#777777;
}
.news-row .news-info h2{
	 font-size:18px;
	 line-height:18px;
	  color:#777777;
	   font-weight:normal;
	    font-family: 'latobold';
		text-transform:uppercase;
		margin-bottom:6px;
}

.news-row .news-info .date{
	 font-size:12px;
}
.news-row .news-info article{
	 display:block;
	 line-height:22px;
	 padding-top:25px;
}
.news-row .readmore{
	float:right;
	text-transform:lowercase;
	padding:10px 16px;
	margin-top:25px;
}
.news-row+.pagin-bottom{ margin-top:5px;
}
.news-detail{
	 display:block;
	 line-height:22px;
}
.news-detail p{
	 display:block;
	 margin-bottom:22px;
}
.news-detail img{
	max-width:100%;
	height:auto;
	 vertical-align:bottom;
	  box-sizing:border-box; 
	 -moz-box-sizing:border-box; 
	 -webkit-box-sizing:border-box;
	 border:3px solid #f8f8f8;
	 margin-top:13px;
}
/******************Contact Us************/
.contact-wrap{
	padding-top:9px;
}
.contact-wrap .Enquire-form{
	float:left;
	 width:560px;
}

.contact-wrap .Enquire-form .col-form {
    float: none;
    width:100%;
}
.contact-wrap .Enquire-form textarea {
    width: 100%;
    height:150px;
    border: 1px solid #c4c4c4;
    padding: 0 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'latoregular';
    font-size: 14px;
    line-height: 33px;
    color: #777777;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    resize: none;
}
.contact-right{
	 float:right;
	  width:560px;
}
.contact-right img{
	 width:100%;
	  height:auto;
	  vertical-align:bottom;
}
.contact-right .image-02{
	    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
/***************Thank You******/
.thankyou-page{
	padding-bottom:0px;
}
.image-thankyou{
	position: relative;
	float:right;
	margin-right:-35px;
	margin-top:43px;
}
.thankyou{
float:left;
 width:574px;
 text-align:center;
 margin-top:39px;
}

.thankyou h2{
	 color:#2c3e50;
	  font-family: 'latoblack';
	  font-size:70px;
	  line-height:70px;
}
.thankyou h3{ color:#2c3e50;
 font-family: 'latolight';
  font-weight:normal;
  text-transform:uppercase;
   font-size:23px;
   margin-bottom:30px;
}
.thankyou article{
	 display:block;
	  font-size:14px;
	  line-height:22px;
	   font-family: 'latobold';
	   padding-bottom:25px;
}
.thankyou-footer{
	 display:block;
}
.thankyou-footer ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.thankyou-footer ul li{
	 display:inline-block;
	 margin-left:6px;
}
.thankyou-footer aside{
	 display:block;
	 padding-bottom:28px;
}

.thankyou-footer ul li+li{
	background:url(../images/divder.jpg) left center no-repeat;
	padding-left:11px;
}

.thankyou-footer ul li a{
	 color:#777777;
}
.thankyou-footer ul li a:hover{
	 color:#ff0000;
	 text-decoration:underline;
}




/*************Scroll Content***********/

.content {
    overflow: auto;
    position: relative;
    padding:20px 10px;
    background: #FFF;
    margin:0px;
    width:100%;
    max-width:100%;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
		  border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}


.location-info .content {
    height: 442px;
	padding:9px 0px;
	padding-right:5px;
	padding-left:22px;
}
.location-info h4{
	 display:block;
	 font-size:15px;
	 color:#2c3e50;
	 margin-bottom:10px;
}
.location-info strong em{ color:#ff0000;
 display:block;
 padding-bottom:8px;
	
}




/*******************Map list*************/
.location span{
	position:absolute; 
	display:inline-block;
	right:0px;
	bottom:0px;
	
	 width:20px;
	 height:26px;
	
	}
.location span a{
	 display:block;
	  width:20px;
	 height:26px;
	  background:url(../images/map-normal.png) no-repeat;
	  position:relative;
	  z-index:1;
}
.location span a:hover,.location span a.selected{background:url(../images/map-hover.png) no-repeat;
z-index:10 !important;
}
.location span img{width:20px;
	 height:26px;
}
.location span:hover{

	
}
	
.location .singapure {
    margin-bottom: 23.5%;
    margin-right: 19%;
}
.location .mla {
    margin-bottom: 26%;
    margin-right: 20.5%;
}
.location .thai {
    margin-bottom: 29.4%;
    margin-right: 20.9%;
}
.location .phi {
    margin-bottom: 28.4%;
    margin-right: 14.5%;
}
.location .viet {
    margin-bottom: 28.4%;
    margin-right: 18.5%;
}
.location .indo {
    margin-bottom: 22.8%;
    margin-right: 14%;
}
.location .Taiwan {
    margin-bottom: 31.8%;
    margin-right: 14.8%;
}
.location .sri {
    margin-bottom: 25.8%;
    margin-right:26.5%;
}
.location .india {
        margin-bottom: 30.8%;
    margin-right: 28%;
}
.location .aus {
    margin-bottom: 13.8%;
    margin-right: 11%;
}
.location .pak {
    margin-bottom: 32.8%;
    margin-right: 32%;
}
.location .kor {
    margin-bottom: 37.8%;
    margin-right: 14%;
}
.location .sa {
    margin-bottom: 13.8%;
    margin-right: 45%;
}

/*******************Exp************/
.loc-inner{ width:658px;
height:450px;
}
.locationmap{
	width:658px;
height:450px;
}
.location .content{ height:450px;
padding:0px;
}
.location .content .mCSB_container_wrapper {
    position: absolute;
    height: auto;
    width: auto;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     margin-right:0 !important; 
     margin-bottom:0 !important; 
}
.location .content .mCSB_container_wrapper > .mCSB_container {
     padding-right:0 !important; 
    padding-bottom:0 !important; 
}