
#leftco2 {
	LEFT: 0px;
	TOP: 0px;
	text-decoration: none;
}
#leftco2 div {

	width:100%;
	text-decoration: none;
	
}


UL.tabNavigation {
	   
	font-size:14px;
	MARGIN:0px;
	padding:0px;
	padding-left:0px;
	LIST-STYLE-TYPE: none;
	font-weight: normal;
	text-decoration: none;
	position:relative;
	margin-left:0px;
	font-family: 'latobold';
	margin-bottom:-1px;
	
	
}

UL.tabNavigation LI {
	display: inline;
	margin: 0;
	float:left;
	margin-right:0px;
	text-decoration: none;
	position:relative;
	margin-bottom:0px;
	text-transform:uppercase;


	
	
	
}
UL.tabNavigation LI + LI{
	margin-left:2px;

}

UL.tabNavigation LI A {
	text-align:center;
	color: #9e9e9e;
	text-decoration: none;
	line-height:34px;
	border-bottom:none;
	padding:2px 28px;
	display:block;
	position:relative;
	background:#e7e7e7;
	border-bottom:1px solid #e7e7e7;
	border-radius:3px 3px 0 0 ; 
	-moz-border-radius:3px 3px 0 0; 
	-webkit-border-radius:3px 3px 0 0 ;
	

}

UL.tabNavigation LI A:hover, UL.tabNavigation LI A.selected {
	color:#FFF;
	text-decoration: none;
	background:#423f3f;
border-bottom:1px solid #423f3f;
	border-radius:3px 3px 0 0 ; 
	-moz-border-radius:3px 3px 0 0; 
	-webkit-border-radius:3px 3px 0 0 ;

}
.one{ margin:0px;
      width:100%;
	  float:left;
	  border:1px solid #efefef;
	  border-radius:0 0 3px 3px  ; 
	-moz-border-radius:0 0 3px 3px  ; 
	-webkit-border-radius:0 0 3px 3px  ; 

}




/**************Responsive********************/
 @media (max-width:600px) {UL.tabNavigation LI { }


}

 @media (max-width:560px) {UL.tabNavigation LI { }


}
 @media screen and (max-width: 480px) {
	 
 }
 @media (max-width:400px) {UL.tabNavigation LI { }
   UL.tabNavigation LI A {}
}
  @media (max-width:320px) {UL.tabNavigation LI { font-size:11px;}
  UL.tabNavigation LI A { }
  
  }

